*{
    box-sizing: border-box;
    margin: 0;
}
.my-page-nav-list a{
    color: #000000;
}
.my-page-nav-list>:nth-child(3){
    font-weight: bold;
    font-size: 20px;
}

.my-page-container{
    width: 100%;
    display: grid;
    
}

.my-page-category{
    display: grid;
    height: 240px;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 1.25fr 0.5fr 1.25fr;
}

.my-page-nickname{
    width: 100%;
    height: 100px;
    background-color: #0F0954;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-page-nickname>p{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.my-page-L{
    display: flex;
    list-style: none;
    background-color: #0F0954;
    align-items: center;
    justify-content: space-around;
}

.my-page-L a{
    display: flex;
    width: 150px;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    
}

.my-page-membership-grade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0F0954;
    align-items: center;
    width: 100%;
}

.my-page-membership-grade>img{
    height: 215px;
    margin-bottom: 20px;
}

.my-page-R{
    width: 100%;
    display: flex;
    list-style: none;
    background-color: #0F0954;
    align-items: center;
    justify-content: space-around;
}

.my-page-R a{
    display: flex;
    width: 150px;
    justify-content: space-around;
    text-decoration: none;
    color: white;

}

.my-page-empty-space{
    width: 100px;
    height: 16px;
}
.my-page-myinfo img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-myinfo>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-myprofile img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-myprofile>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-customer-service img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-customer-service>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-membership img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-membership>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}

/* 예매내역 ,취소내역, 나의 문의내역 , 회원탈퇴 탭*/
.my-page-nav{
    border-bottom: 1px solid #ccc;
}
.my-page-nav-list{
    display: flex;
    height: 40px;
    justify-content: space-around;
    list-style: none;
}
.my-page-nav-list>li>a:hover{
    border-top: 2px solid  #0F0954;
    border-bottom: 2px solid #0F0954;
    font-weight: bold;
}

.my-page-nav-list a{
    text-decoration: none;
}
.my-page-contents-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 문의 내역이 없을 경우 */
.my-page-contents-box{
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.my-page-contents{
    display: flex;
    flex-direction: column;
}

.my-page-contents>img{
    width: 150px;
    height: 150px;
    margin: 15px;
    align-self: center;
}

.my-page-contents>p{
    font-weight: bold;
    font-size: 20px;
}

/* 문의 내역이 있을 경우 */
.my-page-inquiry-table{
    text-align: center;
    width: 70vw;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 12px 12px 0 0;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0px 12px 5px rgba(32, 32, 32, 0.3);
}
th{
    background-color: #0f0954b7;
    color: #fff;
}
th,td{
    padding: 10px 15px;
}
tr:nth-child(odd){
    background-color: #eeeeee;
}
table img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#my-page-inquiry-title{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
#my-page-inquiry-content{
    font-size: 15px;
    text-align: left;
    height: 200px;
    font-weight: bold;
}
.my-page-inquiry-table-display{
    width: 100%;
    display: none;
}
/* 처리중 and 답변 완료 */
#ing{
    width: 70px;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
}
/* 페이지 네이션 */
.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 80px;
    position: relative;
}
.pagination ol{
    width : 400px;
    height: 30px;
    text-align: center;
}
#paginationNumbers li{
    display: inline-block;
}
#paginationNumbers li a{
    padding: 3px;
    color: #92B4EC;
    margin: 0 6px;
    width: 20px;
}
#paginationNumbers li a.active{
    font-weight: bold;
    color: #5286DC;
}
.pagination i{
    color: #FFD24C;
    line-height: 30px;
}

/* 닉네임 변경 모달 영역 */
.my-page-change-nickname-area{
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
}
.my-page-change-nickname-content{
    width: 30vw;
    height: 32vh;
    background-color: #363356;
    background-image: linear-gradient(13deg, #c5bfff 0%, #be52f0 81%);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.my-page-change-nickname-content>:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.my-page-change-nickname-content input{
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 0 5px;
}
.my-page-change-nickname-inputbox{
    position: relative;
    width: 250px;
}

.my-page-change-nickname-content i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    overflow: hidden;
}

/* 닉네임 변경 수정 / 취소 버튼 */

.my-page-change-nickname-update-btn{
    margin:30px;
    display: flex;
    gap: 100px;
}
.my-page-change-nickname-update-btn>button{
    border:none;
    width: 100px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}
.my-page-change-nickname-update-btn>:nth-child(1){
    background: linear-gradient(90deg, #0F0954,#b3307a,#0F0954);
    background-size: 400%;
}
.my-page-change-nickname-update-btn>:nth-child(1):hover{
    animation: animate2 8s linear infinite;
}
@keyframes animate2 {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.my-page-change-nickname-update-btn>:nth-child(2){
    background: linear-gradient(90deg, #0F0954,#708101,#0f0954);
    background-size: 400%;
}
.my-page-change-nickname-update-btn>:nth-child(2):hover{
    animation: animate1 8s linear infinite;
}
@keyframes animate1 {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
/* 회원 탈퇴 모달 영역*/
.my-page-secession-area{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    justify-content: center;
    align-items: center;
    /* 다음 버튼 클릭시 display none */
}
.my-page-secession-pwcheck-container{

    width: 30vw;
    height: 32vh;
    background-color: #363356;
    background-image: linear-gradient(13deg, #c5bfff 0%, #be52f0 81%);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.my-page-secession-pwcheck-container>:nth-child(1){
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.my-page-secession-pwcheck-container>:nth-child(2){
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.my-page-secession-inputbox{
    position: relative;
    width: 250px;
}

.my-page-secession-pwcheck-container input {

    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 0 5px;
}

.my-page-secession-pwcheck-container i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    overflow: hidden;
}
/* 비밀번호 확인 창 버튼 */
.my-page-secession-pwcheck-btn{
    margin:30px;
    display: flex;
    gap: 100px;
}

.my-page-secession-pwcheck-btn>button{
    border:none;
    width: 100px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}

.my-page-secession-pwcheck-btn>:nth-child(1){
    background: linear-gradient(90deg, #0F0954,#b3307a,#0F0954);
    background-size: 400%;
}
.my-page-secession-pwcheck-btn>:nth-child(1):hover{
    animation: animate2 8s linear infinite;
}
@keyframes animate2 {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.my-page-secession-pwcheck-btn>:nth-child(2){
    background: linear-gradient(90deg, #0F0954,#708101,#0f0954);
    background-size: 400%;
}
.my-page-secession-pwcheck-btn>:nth-child(2):hover{
    animation: animate1 8s linear infinite;
}
@keyframes animate1 {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

/* 탈퇴 모달에서 다음 눌렀을 때 */
.my-page-secession-info-bg{
    display: none;
    width: 70vw;
    height: 70vh;
    top: 0px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    /* 다음버튼 클릭시 display flex */
}

#secession-title{
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}
.my-page-secession-info-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#secession-info{
    font-size: 20px;
}
#secession-info>span{
    color: #ED4C6B;
    font-size: 25px;
    font-weight: bold;
}
#secession-notice{
    display: flex;
    margin-top: 10px;
    width: 60vw;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
#secession-notice-detail{
    margin-top: 10px;
    width: 60vw;
    height: 25vh;
    border-bottom: 1px solid black;
    padding: 10px;
    overflow-y: scroll;
}
/* 스크롤바 css 작업 */
#secession-notice-detail::-webkit-scrollbar {
    width: 10px;
}
#secession-notice-detail::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#secession-notice-detail>span{
    font-weight: bold;
}
.my-page-secession-checkbox{
    margin-top: 5px;
    display: flex;
    gap: 5px;
    font-size: 11px;
    font-weight: bold;
}
/* 탈퇴 / 취소 버튼 */
.my-page-secession-btn{
    margin:30px;
    display: flex;
    gap: 100px;
}
.my-page-secession-btn>button{
    border:none;
    width: 100px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}
.my-page-secession-btn>:nth-child(1){
    background: linear-gradient(90deg, #0F0954,#b3307a,#0F0954);
    background-size: 400%;
}
.my-page-secession-btn>:nth-child(1):hover{
    animation: animate2 8s linear infinite;
}
@keyframes animate2 {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.my-page-secession-btn>:nth-child(2){
    background: linear-gradient(90deg, #0F0954,#708101,#0f0954);
    background-size: 400%;
}
.my-page-secession-btn>:nth-child(2):hover{
    animation: animate1 8s linear infinite;
}
@keyframes animate1 {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}