*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}



/* footer 전체 박스 */
.dg-footer-box{
    height: 200px;

    /* border: 1px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
}

.dg-footer-logo{
    margin-right: 30px;
}

/* footer 로고 이미지 */
.dg-footer-logo>img{
    width: 100px;
    height: 100px;
}

/* footer 정보 */
.dg-footer-info-list{
    display: flex;
    list-style: none;
    justify-content: center;

    font-size: 12px;
    margin-bottom: 5px;

    
}

/* footer 정보 list */
.dg-footer-info-list>li:nth-child(1){
    border-right: 1px solid #808080;
    padding-right: 10px;
    
}
.dg-footer-info-list>li:nth-child(2){
    border-right: 1px solid #808080;
    padding-right: 10px;
    padding-left: 10px;

}
.dg-footer-info-list>li:nth-child(3){
    padding-left: 10px;
}

/* footer 정보 list - 회사소개, 이용약관, 개인정보처리방침link */
.dg-footer-info-list a{
    text-decoration: none;
    color: black;
}

/* footer 주소 */
.dg-footer-addr{
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
}

/* footer 고객센터 link */
.dg-footer-addr a{
    text-decoration: none;
    color: black;
}

/* footer 회사정보 */
.dg-info-list{
    display: flex;
    list-style: none;
    font-size: 12px;

    margin-bottom: 5px;
}

/* 대표이사 */
.dg-info-list>li:nth-child(1){
    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 3px;
    height: 10px;
    display: flex;
    align-items: center;
}

/* 사업자등록번호 */
.dg-info-list>li:nth-child(2){

    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 5px;
    height: 10px;
    display: flex;
    align-items: center;

}

/* 통신판매업신고번호 */
.dg-info-list>li:nth-child(3){
    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 5px;
    height: 10px;
    display: flex;
    align-items: center;
}

.dg-copyright{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}




