*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}



/* footer 전체 박스 */
.dg-footer-box{
    position: relative;
    height: 200px;
    width: 100%;
    min-width: 800px;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
    font-size: 10px;
    
    background-color: white;
}

.dg-footer-logo{
    overflow: hidden;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    padding: 0;
    margin-right: 20px;
    margin-top: -20px;
}

/* footer 로고 이미지 */
.dg-footer-logo>img{
    width: 100px;
    height: 100px;
}
.inner-wrap {
    width: 800px;
    margin: 0 auto;
}
/* footer 정보 */
.dg-footer-info-list-box{
    margin: 0 auto;
    padding: 30px 0;
    width: 800px;
    overflow: hidden;
}
.footer-bottom{
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
.dg-footer-info-list{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 12px;
}

/* footer 정보 list */
.dg-footer-info-list>li:nth-child(1){
    border-right: 1px solid #808080;
    padding-right: 10px;
    
}
.dg-footer-info-list>li:nth-child(2){
    border-right: 1px solid #808080;
    padding-right: 10px;
    padding-left: 10px;

}
.dg-footer-info-list>li:nth-child(3){
    padding-left: 10px;
}

/* footer 정보 list - 회사소개, 이용약관, 개인정보처리방침link */
.dg-footer-info-list a{
    text-decoration: none;
    color: black;
}

/* footer 주소 */
.dg-footer-addr{
    font-size: 12px;
    margin-bottom: 5px;
}

/* footer 고객센터 link */
.dg-footer-addr a{
    text-decoration: none;
    color: black;
}

/* footer 회사정보 */
.dg-info-list{
    display: flex;
    list-style: none;
    font-size: 12px;

    margin-bottom: 5px;
}
.dg-info-list>li{
    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 5px;
    height: 10px;
    display: flex;
    align-items: center;
}
.dg-info-list>li:last-child{
    padding-right: 5px;
    border-right: 0px solid #808080;
    margin-right: 5px;
    height: 10px;
    display: flex;
    align-items: center;
}
/* 대표이사 */
/* .dg-info-list>li:nth-child(1){
    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 3px;
    height: 10px;
    display: flex;
    align-items: center;
} */

/* 사업자등록번호 */
/* .dg-info-list>li:nth-child(2){
    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 5px;
    height: 10px;
    display: flex;
    align-items: center;
} */

/* 통신판매업신고번호 */
/* .dg-info-list>li:nth-child(3){
    padding-right: 5px;
    border-right: 1px solid #808080;
    margin-right: 5px;
    height: 10px;
    display: flex;
    align-items: center;
} */

.dg-copyright{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: -30px;
}




