body{
    margin: 0px;
}

/* 슬라이드 설정 swiper js 설정부분 */
.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 메인 슬라이드 */
.main-slide{
    width: 100%;
    height: 750px;
    --swiper-navigation-color: gray; 
    --swiper-pagination-color: #fff;
}


/* 서브 슬라이드 */
.sub-slide{
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black;
}
.sub-slide__silder{
    width: 900px;
    height: 280px;
    margin: auto;
    position: relative;
}
.sub-slide .poster{
    position: relative;
}
.sub-slide .poster img:first-child{
    border-radius: 3px;
}
.sub-slide .poster img:last-child{
    border-radius: 4px;
}
.sub-slide .poster em{
    position: absolute;
    color : white;
    font-size: 24px;
    font-weight: bold;
    bottom: 0px;
    left: 6px;
    text-shadow: 1px 1px 1px gray;
}
.sub-slide .poster .rating{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 4px;
    right: 4px;
}

.movie-action{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-action:hover{
    opacity: 1;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
}

.movie-action a{
    width: 80%;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(2);
}


.sub-slide .title{
    margin-top: 5px;
    width: 156px;
    display: block;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btm-info>div{
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star img{
    width: 10px;
    height: 10px;    
}

.sub-slide .swiper-button-next{
    position: absolute;
    right: -40px;
    color : white;
}
.sub-slide .swiper-button-prev{
    position: absolute;
    left : -40px;
    color : white;
}

/* 공지사항 */
.announcement{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.announcement>article{
    width: 780px;
    padding: 50px 10px;
    position: relative;
}
.announcement>article>span{
    font-size: 20px;
    font-weight: bold;
}
.announcement>article>div:first-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #666666;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}

.announcement>article>div>span:first-child{
    width: 80%;
}
.announcement>article>div>span:last-child{
    width: 20%;
}

.announContent>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #AAA;
    font-size: 14px;
}

.announContent>div>a:first-child{
    width: 80%;
}
.announContent>div>span:last-child{
    width: 20%;
}

.announcement>article>a{
    position: absolute;
    top: 60px;
    right: 10px;
    font-size: 10px;
    color : #666666;
    text-decoration: none;
}

/* 광고 포스터 부분 */
.movie--banner{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



.effect{
    position: absolute;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
}

@keyframes animate{
    0%
    {
        width: 0;
        height: 0;
    }
    100%
    {
        width: 350px;
        height: 350px;
    }
}