*{
    box-sizing: border-box;
    margin: 0;
}
.my-page-nav-list a{
    color: #000000;
}

.my-page-container{
    width: 100%;
    display: grid;
    
}

.my-page-category{
    display: grid;
    height: 240px;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 1.25fr 0.5fr 1.25fr;
}

.my-page-nickname{
    width: 100%;
    height: 100px;
    background-color: #0F0954;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-page-nickname>p{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.my-page-L{
    display: flex;
    list-style: none;
    background-color: #0F0954;
    align-items: center;
    justify-content: space-around;
}

.my-page-L a{
    display: flex;
    width: 150px;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    
}

.my-page-membership-grade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0F0954;
    align-items: center;
    width: 100%;
}

.my-page-membership-grade>img{
    height: 215px;
    margin-bottom: 20px;
}

.my-page-R{
    width: 100%;
    display: flex;
    list-style: none;
    background-color: #0F0954;
    align-items: center;
    justify-content: space-around;
}

.my-page-R a{
    display: flex;
    width: 150px;
    justify-content: space-around;
    text-decoration: none;
    color: white;

}

.my-page-empty-space{
    width: 100px;
    height: 17px;
}
.my-page-myinfo img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-myinfo>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-myprofile img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-myprofile>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-customer-service img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-customer-service>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-membership img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.my-page-membership>a:nth-child(2):hover{
    border-bottom: 2px solid white;
}
.my-page-membership>a:nth-child(2){
    border-bottom: 2px solid white;
    font-weight: bold;
    font-size: 20px;
}
/* 예매내역 ,취소내역, 나의 문의내역 , 회원탈퇴 탭*/
.my-page-nav{
    border-bottom: 1px solid #ccc;
}
.my-page-nav-list{
    display: flex;
    height: 40px;
    justify-content: space-around;
    list-style: none;
}
.my-page-nav-list>li>a:hover{
    border-top: 2px solid  #0F0954;
    border-bottom: 2px solid #0F0954;
    font-weight: bold;
}

.my-page-nav-list a{
    text-decoration: none;
}
.my-page-contents-container{
    height: 100%;
}

/* 배경 색 */
.my-page-back-ground-color{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border-radius: 15px;
    background-color: #0F0954;
    background-image: linear-gradient(19deg, #0F0954 0%, #b721ff 100%);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    
}
/* 등급 이미지 */
.my-page-img-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
.my-page-img-box>img{
    width: 140px;
    height: 140px;
}
/* 프로그래스 바 */
.setp-wizard{
    /* background-color: #0F0954;
    background-image: linear-gradient(19deg, #695dea 0%, #b721ff 100%); */
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-wizard-list{
    background-color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}
.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow:1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 280px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #0F0954;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position:relative;
    z-index: 10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #0F0954;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height: 10px;
    width: 10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #0F0954;
}
.current-item .progress-count{
    color: #0F0954;
}
/* 쿠폰 버튼 영역 */
.my-page-coupon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.my-page-coupon span{
    font-weight: bold;
}
#text-color{
    color: #8B4B4B;
    font-weight: bold;
    font-size: 40px;
}
.my-page-coupon-btn{
    border: 3px solid #0F0954;
    border-radius: 50px;
    width: 120px;
    text-align: center;
    background-color: #0F0954;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
/* 등급 혜택 구역 */
.my-page-benefit-container{
    display: flex;
    flex-direction: column;
    margin: 100px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}
.my-page-benefit-container>span{
    font-weight: bold;
    font-size: 30px;
    padding: 30px
}
.my-page-benefit{
    display: flex;
    justify-content: space-around;
}
.my-page-benefit-container img{
    width: 300px;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 30px;
}