body {
    margin: 0;
}

.movie--Top__banner {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



.movie--mid__List {
    margin: auto;
    width: 980px;
    background-color: gray;
}

.movieList--nav {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: purple;
}

.movieList--items {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;

}


.movieItem {
    background-color: aqua;
    height: 300px;
}






.movie--bot__banner {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}