<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DreamGardenMovieTheater</title>
    
    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/common/main.css}">

</head>
<body>

    <th:block th:replace="~{common/header-black}"></th:block>

    <!-- 메인 슬라이드 구역 -->
    <section class="main-slide">
        <div class="swiper main--movie-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="slideImg : ${movieMainSlideImgList}"><img th:src="${slideImg.MOVIE_IMG_PATH}"></div>
            </div>
            <div class="swiper-button-next main-next"></div>
            <div class="swiper-button-prev main-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    
    <!-- 서브 슬라이드 구역 : 현재 상영작  -->
    <section class="sub-slide">
        <div class="sub-slide__silder">
            <div class="swiper main--sub-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="movieInfo : ${movieList}">
                        <div>
                            <div class="poster">
                                <img th:src="${movieInfo.poster}" alt="포스터">
                                <em th:text="${movieInfo.rank}">순위</em>
                                <img class="rating" th:src="${movieInfo.rating}" alt="등급">
                                <div class="movie-action">
                                    <a class="font4" th:href="@{/ticketing/date/} + ${movieInfo.movieNo}">예매하기</a>
                                    <a class="font4" th:href="@{|/movie/movieDetail=${movieInfo.movieNo}|}">상세보기</a>
                                </div>
                            </div>
                        </div>
                        <div class="btm-info">
                            <strong class="title" th:text="${movieInfo.movieTitle}">제목</strong>
                            <div>
                                <span class="ratio">
                                    예매율
                                    <em th:text="${movieInfo.ratio}+'%'">예매율</em>
                                </span>
                                <span class="star">
                                    <img th:src="@{/images/common/main/포스터/star3.png}">
                                    <em>9.2</em>
                                </span>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next sub-next"></div>
            <div class="swiper-button-prev sub-prev"></div>
        </div>
    </section>



    <div class="announcement">
        <article>
            <span>|공지사항|</span>
            <a href="">더보기&gt;</a>
            <div>
                <span>공지 내용</span>
                <span>일자</span>
            </div>
            <div class="announContent">
                <div th:each="notice : ${noticeList}">
                    <span th:text="${notice.NOTICE_TITLE}"></span>
                    <span th:text="${notice.NOTICE_ENROLL_DATE}"></span>
                </div>
            </div>
        </article>

    </div>

    <section class="movie--banner">
        <a th:href="@{|/movie/movieDetail=${advertisePoster.MOVIE_NO}|}">
            <img th:src="${advertisePoster.MOVIE_IMG_PATH}">
        </a>
    </section>


    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/common/main.js}"></script>

    <!-- swiper.js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- swiper.js 초기화 -->
    <script>
        var swiper = new Swiper(".main--movie-slider", {
            spaceBetween: 30,
            centeredSlides: true,
            loop: true,
            autoplay: {
                delay: 7000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".main-next",
                prevEl: ".main-prev",
            },
        });

        var swiper2 = new Swiper(".main--sub-slider", {
            slidesPerView: 5,
            spaceBetween: 30,
            navigation: {
                nextEl: ".sub-next",
                prevEl: ".sub-prev",
            },
        });
    </script>


</body>
</html>