<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Garden Cinema</title>
    <style>
        .fhrmdls{
            width : 400px;
            height : 60px;
            background-color: #808080;
        }
        .ghldnjsrkdlq{
            width : 400px;
            height : 60px;
            background-color: #808080;
        }
    </style>
</head>
<body>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1> 
    <h1>Hello, World!</h1>
    <button class="fhrmdls"><a href="/user/login">로그인</a></button>
    <button class="ghldnjsrkdlq"><a href="/user/signUp">회원가입</a></button>
</body>
</html>