<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="slide slide_wrap">  <!-- 메인 슬라이드 구역 -->
        <div class="slide_item item1">
            <img src="/라방.png" alt="">
        </div>
        <div class="slide_item item2">
            <img src="/사소.jpg" alt="">
        </div>
        <div class="slide_item item3">
            <img src="/트랜스포머.jpg" alt="">
        </div>
        <div class="slide_item item4">
            <img src="/플래시.jpg" alt="">
        </div>
        <!-- <div class="slide_item item5">5</div> -->
        <div class="slide_prev_button slide_button">  <!-- 메인 슬라이드 이전버튼 -->
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M400-80 0-480l400-400 56 57-343 343 343 343-56 57Z"/></svg>
        </div>
        <div class="slide_next_button slide_button">  <!-- 메인 슬라이드 다음버튼 -->
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m304-82-56-57 343-343-343-343 56-57 400 400L304-82Z"/></svg>
        </div>
        <ul class="slide_pagination"></ul>  <!-- 메인 슬라이드 페이지네이션 -->
        <div class="gradation">

        </div>
    </div>

    <section class="sub_slide">
        <div class="inner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/범죄도시.jpg" alt="">
                                <em>1</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">범죄도시3</strong>
                            <span class="rate_info">
                                예매율
                                <em>68.6%</em>
                            </span>
                            <span class="star_info">
                                <img src="/포스터/Star 3.png" alt="">
                                9.2
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/트랜스포머.jpg" alt="">
                                <em>2</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">트랜스포머:비스트의 서막</strong>
                            <span class="rate_info">
                                예매율
                                <em>16.3%</em>
                            </span>
                            <span class="star_info">
                                D-1
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/포켓몬스터.jpg" alt="">
                                <em>3</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">포켓 몬스터 DP:아르세우스 초극의 시공으로</strong>
                            <span class="rate_info">
                                예매율
                                <em>3.6%</em>
                            </span>
                            <span class="star_info">
                                <img src="/포스터/Star 3.png" alt="">
                                9.4
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/가오갤.jpg" alt="">
                                <em>4</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">가디언즈 오브 갤럭시:Volume3</strong>
                            <span class="rate_info">
                                예매율
                                <em>2.3%</em>
                            </span>
                            <span class="star_info">
                                <img src="/포스터/Star 3.png" alt="">
                                9.6
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/엘리멘탈.jpg" alt="">
                                <em>5</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">엘리멘탈</strong>
                            <span class="rate_info">
                                예매율
                                <em>1.9%</em>
                            </span>
                            <span class="star_info">
                                D-9
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/플래시.jpg" alt="">
                                <em>6</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">가디언즈 오브 갤럭시:Volume3</strong>
                            <span class="rate_info">
                                예매율
                                <em>1.5%</em>
                            </span>
                            <span class="star_info">
                                D-9
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/분노의질주.jpg" alt="">
                                <em>7</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">분노의 질주:라이드 오어 다이</strong>
                            <span class="rate_info">
                                예매율
                                <em>1.4%</em>
                            </span>
                            <span class="star_info">
                                <img src="/포스터/Star 3.png" alt="">
                                9.1
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top_info">
                            <span class="poster_info">
                                <img src="/포스터/인어공주.jpg" alt="">
                                <em>8</em>
                                <span>등급</span>
                            </span>
                        </div>
                        <div class="btm_info">
                            <strong class="tit_info">인어공주</strong>
                            <span class="rate_info">
                                예매율
                                <em>1.3%</em>
                            </span>
                            <span class="star_info">
                                <img src="/포스터/Star 3.png" alt="">
                                8
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_slide_btn">
            <div class="swiper-prev">
                <div class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M400-80 0-480l400-400 56 57-343 343 343 343-56 57Z"/></svg>
                </div>
            </div>    
            <div class="swiper-next">
                <div class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m304-82-56-57 343-343-343-343 56-57 400 400L304-82Z"/></svg>
                </div>
            </div>
        </div>
    </section>

    <div class="announcement">
        <article>
            <span>|공지사항|</span>
            <a href="">더보기&gt;</a>
            <div>
                <span>공지 내용</span>
                <span>일자</span>
            </div>
            <div class="announContent">
                <div>
                    <span>개인정보처리방침 안내</span>
                    <span>2023-05-23</span>
                </div>
                <div>
                    <span>개인정보처리방침 안내</span>
                    <span>2023-05-23</span>
                </div>
                <div>
                    <span>개인정보처리방침 안내</span>
                    <span>2023-05-23</span>
                </div>
            </div>
        </article>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>



<!-- <div class="item">
    <div class="top_info">
        <span class="poster_info">
            <img src="/포스터/플래시.jpg" alt="">
            <em>1</em>
            <span>등급</span>
        </span>
    </div>
    <div class="btm_info">
        <strong class="tit_info">플래시</strong>
        <span class="rate_info">
            예매율&nbsp;
            <em>71.8%</em>
        </span>
        <span class="star_info">
            <img src="/포스터/Star 3.png" alt="">
            9.2
        </span>
    </div>
</div> -->