<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터-FAQ</title>

    <link rel="stylesheet" th:href="@{/css/customerservice/FAQ.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <div class="customer-service-box">

        <div class="service-notice">
            <p class="notice-title">고객센터</p>
        </div>
        <div class="service-empty-line"></div>

        <div class="service-list">
            <ul class="service-list-choose">
                <li><a th:href="@{/customerservice/}">FAQ</a></li>
                <li><a th:href="@{#}">공지사항</a></li>
                <li><a th:href="@{#}">1:1문의</a></li>
            </ul>
        </div>

        <div class="service-search-area">

            <form th:action="@{#}" method="GET" class="sevice-search-smt">

                <!-- FAQ 카테고리  -->

                <div class="FAQ-category-box">
                    <!-- 상영관 관련 -->
                    <div class="FAQ-cinemas">
                        <a th:href="@{#}"><img th:src="@{/images/customerservice/상영관 아이콘.png}">
                            <p>상영관 이용</p>
                        </a>
                    </div>
                    <!-- 회원 관련 -->
                    <div class="FAQ-member">
                        <a th:href="@{#}"><img th:src="@{/images/customerservice/회원 아이콘.png}">
                            <p>회원</p>
                        </a>
                    </div>
                    <!-- 멤버십 관련 -->
                    <div class="FAQ-membership">
                        <a th:href="@{#}"><img th:src="@{/images/myPage/멤버십 아이콘.png}">
                            <p>멤버십</p>
                        </a>
                    </div>

                </div>

                <!-- 검색 영역 -->
                <div class="FAQ-search-box">
                    <div class="notice-search-area">
                        <input type="search" placeholder="검색어를 입력해주세요" id="search-query">
                    </div>

                    <!-- 검색 버튼 -->
                    <div class="service-search-btn">검색</div>
                </div>

            </form>

        </div>


        <div class="FAQ-list-area">
            <div class="FAQ-list-contents">

                <!-- 공지사항  내용-->
                <div class="FAQ-title">
                    <span>구분</span> <span>질문</span>
                </div>

                <div class="FAQ-inquiry-content">
                    <span>상영관 이용</span>
                    <a th:href="@{#}" class="FAQ-contents-container">
                        <span><img th:src="@{/images/customerservice/Q아이콘.png}">상영관은 몇 개인가요?</span>
                    </a>
                    <div class="FAQ-btn">
                        <img th:src="@{/images/customerservice/down화살표.png}" id="downBtn">
                        <img th:src="@{/images/customerservice/up화살표.png}" id="upBtn">
                    </div>
                </div>

                <div class="FAQ-answer-box">
                    <div class="FAQ-answer">
                        <img th:src="@{/images/customerservice/A아이콘.png}">
                        <pre>상영관은 총 3개의 관으로 이루어져 있으며, 좌석은 동일하게 배치되어 있습니다.</pre>
                    </div>
                </div>

            </div>

            <!-- 페이지 번호 -->
            <div class="FAQ-pagination">
                <i class="fa-solid fa-arrow-left"></i>
                <ol id="FAQpaginationNumbers">
                    <!-- <li><a th:href="@{#}">1</a></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li> -->
                </ol>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>


        <th:block th:replace="~{common/footer}"></th:block>
        <script th:src="@{/js/customerservice/FAQ.js}"></script>


</body>

</html>