<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터-공지사항 게시글 확인</title>

    <link rel="stylesheet" href="/dreamGardenCinema-boot/src/main/resources/static/css/customerservice/notice-con.css">
</head>

<body>


    <div class="customer-service-box">

        <div class="service-notice">
            <p class="notice-title">고객센터</p>
        </div>
        <div class="service-empty-line"></div>

        <div class="service-list">
            <ul class="service-list-choose">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">1:1문의</a></li>
            </ul>
        </div>

        <div class="notice-list-title">
            <p>Dream Garden Cinema 개인정보처리 방침</p>
        </div>

        <div class="notice-list-date">
            <p>2023-06-07</p>
        </div>

        
            <div class="notice-list-content">
                <pre>
                안녕하십니까, 드림가든시네마입니다.

                당사는 2023년 6월 11일 자로 아래와 같이 개인정보 처리방침을 개정 운영할 예정이오니, 변경 사항을 확인하시어 이용에 불편 없으시길 바랍니다.
                
                <개인정보처리방침>
                
                ● 제 19조(개인정보 보호 책임자)
                    드림컬쳐웍스 개인정보 보호 담당자 <개인정보 실무담당>
                
                - 변경 전 : 성명 : 이예슬
                
                - 변경 후 : 성명 : 김찬희, 이예슬, 이상윤, 최근태, 김유민, 김지환
                
                감사합니다.</pre>
            </div>

        <div class="notice-contents-empty-line"></div>

        <a href="#" class="notice-list-btn"><button id="noticeListBtn">목록</button></a>




    </div>

</body>

</html>