<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터-공지사항</title>

    <link rel="stylesheet" th:href="@{/css/customerservice/notice.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <div class="customer-service-box">

        <div class="service-notice">
            <p class="notice-title">고객센터</p>
        </div>
        <div class="service-empty-line"></div>

        <div class="service-list">
            <ul class="service-list-choose">
                <li><a th:href="@{/customerservice/}">FAQ</a></li>
                <li><a th:href="@{/customerservice/notice}">공지사항</a></li>
                <li><a th:href="@{/customerservice/service}">1:1문의</a></li>
            </ul>
        </div>


        <div class="service-search-area">

            <form th:action="@{/customerservice/noticeSearchList}" method="GET" class="sevice-search-smt">
                <!-- 검색 종류 선택 -->
                <div class="service-search-list">
                    <select name="key" id="serviceSearchSelect">
                        <option value="t">제목</option>
                        <option value="c">내용</option>
                        <option value="tc">제목+내용</option>
                        <option value="n">번호</option>
                    </select>
                </div>

                <!-- 검색 영역 -->
                <div class="notice-search-area">
                    <input type="text" placeholder="검색어를 입력해주세요" id="searchQuery" name="query">
                </div>

                <!-- 검색 버튼 -->
                <button class="service-search-btn">검색</button>
            </form>

        </div>

        <!-- 공지사항 목록 영역-->

        <div class="service-notice-area">
            <div class="notice-contents">

                <div class="noticeBox">
                <!-- 공지사항  내용-->
                <div class="service-notice-title">
                    <span>번호</span> <span>제목</span> <span>등록일</span>
                </div>

                <th:block th:unless="${#lists.size(list) == 0}">

                    <th:block th:each="i :${list}">
                        <div class="notice-list-box">

                            <div class="customer-service-inquiry-content">
                                <span th:text="${i.noticeNo}">번호</span>

                                <!-- th:href="@{/customerservice/notice/{noticeNo}(noticeNo=${i.noticeNo}, key=${param.key}, query=${param.query})}" -->
                                <a  
                                    th:href="@{/customerservice/noticeCon/{noticeNo}(noticeNo=${i.noticeNo})}" 
                                    class="service-notice-list">
                                    <span th:text="${i.noticeTitle}">제목</span>
                                </a>
                                <span th:text="${i.enrollDate}">등록일</span>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>

        </div>

            <!-- 페이지 번호 -->
            <div class="service-pagination">
                <i class="fa-solid fa-arrow-left"></i>
                <ol id="service-paginationNumbers">
                    <!-- <li><a th:href="#">1</a></li>
                    <li><a th:href="#">2</a></li>
                    <li><a th:href="#">3</a></li> -->
                </ol>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>

    </div>

    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/customerservice/notice.js}"></script>

</body>

</html>