<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice</title>
</head>
<body>
    <!-- 전체 감싸는 div -->
    <div class="admin_noticeWrap">
        <!-- 게시판 제목 -->
        <span id="admin_noticeTitle">공지사항 관리</span>

        <!-- 검색창 -->
        <div class="admin_noticeSearchWrap">
            <select class="admin_noticeSelect" name="" id="">
                <option value="title">번호</option>
                <option value="director">이름</option>
                <option value="actor">이메일</option>
            </select>
            <!-- 검색 input 창 -->
            <div class="admin_noticeInputWrap">
                <input type="text" name="" id="" class="admin_noticeInput">
            </div>
            <!-- 검색 버튼 -->
            <div class="admin_noticeBtnWrap">
                <button type="button" class="admin_noticeBtn"></button>
            </div>
            <!-- 목록 count -->
            <div class="admin_noticeList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_noticeCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_noticeBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_noticeCheckboxAll"></th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>등록일</th>
                   
             
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_noticeCheckbox"></td>
                        <td>1</td>
                        <td>예매 정책</td>
                        <td>2023.05.01</td>
             
               
                    </tr>
                </tbody>

                </table>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <button class="admin_noticeRegister">등록</button>
                <button class="admin_noticeModify">수정</button>
                <button class="admin_noticeDelete">삭제</button>
        
            

            </div>

        </div>



    </div>    


</body>
</html>