<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
</head>
<body>
    <!-- 전체 감싸는 div -->
    <div class="admin_reportWrap">
        <!-- 검색창 -->
        <div class="admin_reportSearchWrap">
            <select class="admin_reportSelect" name="" id="">
                <option value="title">번호</option>
                <option value="director">이름</option>
                <option value="actor">이메일</option>
            </select>
            <!-- 검색 input 창 -->
            <div class="admin_reportInputWrap">
                <input type="text" name="" id="" class="admin_reportInput">
            </div>
            <!-- 검색 버튼 -->
            <div class="admin_reportBtnWrap">
                <button type="button" class="admin_reportBtn"></button>
            </div>
            <!-- 목록 count -->
            <div class="admin_reportList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_reportCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_reportBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_reportCheckboxAll"></th>
                        <th>번호</th>
                        <th>회원</th>
                        <th>제목</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_reportCheckbox"></td>
                        <td>1</td>
                        <td>김유민</td>
                        <td>스포당함요</td>
                        <td>2023.05.31</td>
                    </tr>
                </tbody>

                </table>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <button class="admin_reportRegister">등록</button>
                <button class="admin_reportModify">수정</button>
                <button class="admin_reportDelete">삭제</button>
        
            

            </div>

        </div>



    </div>    


</body>
</html>