<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice_write</title>
</head>
<body>
    <!-- 전체 감싸는 div -->
    <div class="admin_noticeWrap">
            <!-- 게시판 제목 -->
      <span id="admin_noticeTitle">공지사항 관리</span>
        <!-- 테이블 감싸는 div -->
        <div class="admin_noticeTableWrap">
        <table>
            <tr>
                <th>제목</th>
                <td><input type="text" name="" id=""></td>
            </tr>
        </table>
    </div>
    <!-- 내용 쓰는 칸 -->
        <div class="admin_noticeContentWrap">
           <textarea class="admin_noticeContent" name="" id="" cols="30" rows="10">

           </textarea>


        </div>

     

                <!-- 등록 버튼 -->
                <button class="admin_noticeRegister">등록</button>

        
            

            </div>

        </div>



    </div>    


</body>
</html>