<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cinemaManage</title>
</head>
<body>
    <!-- 전체 감싸는 div -->
    <div class="admin_cinemaManageWrap">

              <!-- 게시판 제목 -->
              <span id="admin_cinemaManageDetailTitle">상영관 관리</span>

        <!-- 관 선택하기 -->
        <div class="admin_cinemaManageAll">
            <span class="admin_cinemaManageOne">1관</span>
            <span class="admin_cinemaManageTwo">2관</span>
            <span class="admin_cinemaManageThree">3관</span>
        </div>


        <!-- 검색창 -->
        <div class="admin_cinemaSearchWrap">
     

            <select class="admin_cinemaManageSelect" name="" id="">
                <option value="title">제목</option>
                <option value="director">감독</option>
                <option value="actor">배우</option>
            </select>
            <!-- 검색 input 창 -->
            <div class="admin_cinemaManageInputWrap">
                <input type="text" name="" id="" class="admin_cinemaManageInput">
            </div>
            <!-- 검색 버튼 -->
            <div class="admin_cinemaManageBtnWrap">
                <button type="button" class="admin_cinemaManageBtn"></button>
            </div>
            <!-- 목록 count -->
            <div class="admin_cinemaManageList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_cinemaManageCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_cinemaManagerBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_cinemaCheckboxAll"></th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>감독</th>
                        <th>개봉일</th>
                        <th>매출</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaCheckbox"></td>
                        <td>1</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>10,000,000</td>
                    </tr>
                </tbody>

                </table>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <button class="admin_cinemaManageRegister">등록</button>
                <button class="admin_cinemaManageModify">수정</button>
                <button class="admin_cinemaManageDelete">삭제</button>
            

            </div>

        </div>



    </div>    


</body>
</html>