<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cinemaManage Detail</title>

</head>
<body>
    <!-- div 전체 감싸기 -->
    <div class="admin_cinemaManageDetailWrap">
      
        <!-- 게시판 제목 -->
        <span id="admin_cinemaManageTitle">상영관 관리</span>

        <!-- 상영관 감싸기 -->
        <div class="admin_cinemaManageDetailListWrap">
            <span>상영관 : </span>
            <!-- 상영관 선택 -->
            <select class="admin_cinemaManageDetaiPlList" name="" id=""> <!-- Place List -->
                <option value="1">1관</option>
                <option value="2">2관</option>
                <option value="3">3관</option>
            </select>

            <span>날짜  :</span>
            <input type="date" name="" id="">
        </div>

        <div  class="admin_cinemaManageDetail_TimeAll"></div>
        <span>상영시간</span>
        <div class="admin_cinemaManageDetail_Time">
            <span><input type="time" name="" id=""></span> ~  <span><input type="time" name="" id=""></span> 
            <select class="admin_cinemaManageDetaiMlList" name="" id="" > <!-- Movie List -->
                <option value="1">인어공주</option>
                <option value="2">범죄도시3</option>
                <option value="3">바비</option>
            </select>
         </div>
         <div class="admin_cinemaManageDetail_Time">
            <span><input type="time" name="" id=""></span> ~  <span><input type="time" name="" id=""></span> 
            <select class="admin_cinemaManageDetaiMlList" name="" id=""> <!-- Movie List -->
                <option value="1">인어공주</option>
                <option value="2">범죄도시3</option>
                <option value="3">바비</option>
            </select>
         </div>
         <div class="admin_cinemaManageDetail_Time">
            <span><input type="time" name="" id=""></span> ~  <span><input type="time" name="" id=""></span> 
            <select class="admin_cinemaManageDetaiMlList" name="" id=""> <!-- Movie List -->
                <option value="1">인어공주</option>
                <option value="2">범죄도시3</option>
                <option value="3">바비</option>
            </select>
         </div>
         <div class="admin_cinemaManageDetail_Time">
            <span><input type="time" name="" id=""></span> ~  <span><input type="time" name="" id=""></span> 
            <select class="admin_cinemaManageDetaiMlList" name="" id=""> <!-- Movie List -->
                <option value="1">인어공주</option>
                <option value="2">범죄도시3</option>
                <option value="3">바비</option>
            </select>
         </div>
         <div class="admin_cinemaManageDetail_Time">
            <span><input type="time" name="" id=""></span> ~  <span><input type="time" name="" id=""></span> 
            <select class="admin_cinemaManageDetaiMlList" name="" id=""> <!-- Movie List -->
                <option value="1">인어공주</option>
                <option value="2">범죄도시3</option>
                <option value="3">바비</option>
            </select>
         </div>
         <div class="admin_cinemaManageDetail_Time">
            <span><input type="time" name="" id=""></span> ~  <span><input type="time" name="" id=""></span> 
            <select class="admin_cinemaManageDetaiMlList" name="" id=""> <!-- Movie List -->
                <option value="1">인어공주</option>
                <option value="2">범죄도시3</option>
                <option value="3">바비</option>
            </select>
         </div>



         <button class="admin_reportRegister">등록</button>


    </div>

    


</body>
</html>