<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%> -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_DashBoard</title>
    <link rel="stylesheet" href="../admin/admin_dashboard.css">
</head>
<body>
    <div class="admin_dashboardWrap">
        <div class="admin_dashboardSalesforMovie">
            <span>영화별 총 매출</span>
            <select>
                <option value="">범죄도시3</option>
                <option value="">바비</option>
                <option value="">인어공주</option>
            </select>
            <span>￦5,000,000</span>
        </div>

        <div class="admin_dashboardSalesforQuater">
            <span>1분기 총 매출</span>
            <span>￦50,000,000</span>
        </div>

        <div class="admin_dashboardQnaList">    
            <table>
                <tr>
                    <th>제목</th>
                    <td>지갑 잃어버렸어요</td>
                    <td>할인 쿠폰 어떻게 적용하죠?</td>
                    <th>회원</th>
                    <td>유저일</td>
                    <td>유저이</td>
                </tr>
            </table>
        </div>

        <div class="admin_dashboardSalesforLastweek">
            그래프
        </div>



    </div>




</body>
</html>
