
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cinemaManage</title>
    <link rel="stylesheet" href="/edu.dreamGardenCinema/src/main/webapp/resources/css/style.css">
    <link rel="stylesheet" href="/edu.dreamGardenCinema/src/main/webapp/WEB-INF/views/admin/admin_cinemaManage.css">
</head>
<body>
    <!-- 전체 감싸는 div -->
    <div class="admin_cinemaManageWrap">

              <!-- 게시판 제목 -->
              <span id="admin_cinemaManageTitle">상영관 관리</span>

              <!-- 상영관 별 보이기 -->
              <div class="admin_cinemaManageAll">
                <div class="admin_cinemaOne"><a href="">1관</a></div>
                <div>　</div>
                <div class="admin_cinemaOne"><a href="">2관</a></div>
                <div>　</div>
                <div class="admin_cinemaOne"><a href="">3관</a></div>
           

              <!-- 상영일 -->
              <div class="admin_cinemaManageDate">
                <input type="date" name="" id="">
              </div>
            </div>
        <!-- 검색창 -->
        <div class="admin_cinemaManageSearchWrap">
            <div  class="admin_cinemaSearchWrap2"> 
            <select class="admin_cinemaManageSelect" name="" id="">
                <option value="title">제목</option>
                <option value="director">감독</option>
                <option value="actor">배우</option>
            </select>
            <!-- 검색 input 창 -->
                <input type="text" name="" id="" class="admin_cinemaManageInput">
           </div>
            <!-- 검색 버튼 -->
            <div class="admin_cinemaManageBtnWrap">
                <button type="button" class="admin_cinemaManageSearchBtn">검색</button>
            </div>
        </div>
            <!-- 목록 count -->
            <div class="admin_cinemaManageList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_cinemaManageCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_cinemaManageBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_cinemaManageCheckboxAll"></th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>감독</th>
                        <th>개봉일</th>
                        <th>상영시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>1</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>2</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>3</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>4</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>5</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>6</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>7</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>8</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>9</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>10</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>11</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>12</td>
                        <td>범죄도시3</td>
                        <td>이상용</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                </tbody>

                </table>
            </div>

                <!-- 페이지 네이션 -->
                <div class="pagination">
                <li><a href="#"><<</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">>></a></li>
            </div>

                <!-- 등록,수정,삭제 버튼 -->
                <div class="admin_cinemaManageBtn">
                    <button class="admin_cinemaManageEndBtn">등록</button>
                    <button class="admin_cinemaManageEndBtn">수정</button>
                    <button class="admin_cinemaManageEndBtn">삭제</button>
                </div>
            

           

       



    </div>    


</body>