<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice_write</title>
</head>
<body>
  
    <!-- 공지사항 전체 감싸기 -->
    <div class="admin_noticeWriteWrap">
        <!--  -->
        <div class="admin_noticeWriteTitleWrap">
            <input type="text" name="" id="" class="admin_noticeWriteTitle">
        </div>

        <div class="admin_noticeWriteContentWrap">
            <input type="text" class="admin_noticeWriteContent">
        </div>

        <div class="admin_noticeWriteBtnWrap">
            <button class="admin_notieWriteBtn">
                등록
            </button>

        </div>

    </div>



</body>
</html>