<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qna</title>
</head>
<body>
    <!-- 전체 감싸는 div -->
    <div class="admin_qnaWrap">

            <!-- 게시판 제목 -->
          <span id="admin_qnaTitle">1:1문의 관리</span>

            <!-- 게시판 -->
            <div class="admin_qnaBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_qnaCheckboxAll"></th>
                            <td><input type="checkbox" name="" id="" class="admin_qnaCheckbox"></td>
                        <th>번호</th>
                            <td>1</td>
                        <th>카테고리</th>
                             <td>[예매/결제]</td>
                        <th>제목</th>
                            <td>인터넷 예매 후 현장에서 취소 가능한가요?</td>
                        <th>등록인</th>
                            <td>2023.05.31</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>

                </table>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <button class="admin_qnaRegister">등록</button>
                <button class="admin_qnaModify">수정</button>
                <button class="admin_qnaDelete">삭제</button>
        
            

            </div>

        </div>



    </div>    


</body>
</html>