<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>

table>td{
      border-bottom: 1px solid black;  
    }

</style>

</head>
<body>
    <table>
        <tbody>
        <tr>
            <th>제목</th>
            <th>회원</th>
        </tr>
        <tr>
                <td>지갑 잃어버렸어요</td>
                <td>유저일</td>
         </tr>
         <tr>
                <td>할인 쿠폰 어떻게 적용하죠?</td>
                <td>유저이</td>
        </tr>
    </tbody>
    </table>
</div>
</body>
</html>


