/* 전체 감싸는 div */
.admin_movieManageDetailWrap{
    display: flex;
    top: 50px;
    left: 500px;
    position: absolute;
    flex-wrap: wrap;
    width: 800px;
}

/* 게시판 제목 */
.admin_movieManageTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}


.admin_movieManageDetail--read{
    width: 100%;
    margin-top: 10px;
}

ul>li{
    list-style: none;
    border-bottom: 1px solid rgba(128, 127, 127, 0.329);
    margin: 10px 10px;
    padding: 10px;

}

.admin_movieLabel{
    float:left;
    width: 120px;
    margin: 10px 10px;
}

/* 등록버튼 */
.admin_movieManageRegister{
    margin-left: 90%;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    
}

.admin_movieManageRegister a{
    color: white;
    
}