/* 전체 감싸는 div */
.admin_noticeWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 1000px;
    left: 580px;
    top: 60px;
    height: 750px;
    gap: 20px;
}

/* 게시판 제목 */
#admin_noticeTitle {
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 180px;
    height: 46px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

table>tr,
th,
td {
    border-bottom: 1px solid black;

}


/* 글제목 */
table>thead>tr:nth-child(1)>th {
    width: 100px;
}

/* 글 내용 */
table>thead>tr:nth-child(1)>td {
    width: 800px;
}


/* 내용 칸 */
.admin_noticeContent {
    height: 500px;
}


/* 등록버튼 감싸는 div */
.admin_noticeBtn {
    margin-left: 60%;

}

/* 등록버튼 */
.admin_noticeEndBtn {
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;

}

.admin_noticeEndBtn a {
    color: white;

}