/* 전체 감싸는 div */
.admin_reviewWrap{
    width: 1000px;
    display: block;
    margin: 100px auto;
    height: auto;
    top:-1000px;
    left:400px;
    position:relative;
}

/* 게시판 제목 */
#admin_reviewTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;


}
/* 유저검색 창 */
.admin_reviewSearchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 100%;
    padding: 0px;
    height: 0px;
}

/* 검색창 감싸는 div */
.admin_userSearchWrap2{
    border: 1px solid black;
    width: 70%;
    padding: 10px;

}

/* select 선택창 */
.admin_reviewSelect{
    border: none;
    outline: none;

}

/* 검색창 */
.admin_reviewInput{
    width: 400px;
    border: none;
    outline: none;
}



/* 검색버튼 */
.admin_reviewSearchBtn{
   margin: 0px 10px;
   padding: 5px 15px;
   border-radius: 5px;
   background-color: #0F0954;
   color: white;
}




/* 게시판 테이블 감싸는 div */
.admin_reviewBoardWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  

}

/* 게시판 테이블 */
.admin_reviewBoardWrap > table{
    border-bottom: 1px solid rgba(142, 142, 142, 0.431);
    border-collapse: collapse;
    width: 1000px;

}
/* 체크박스 */
#boardTable > thead > tr > th:nth-child(1){
    width: 20px;
}
#boardTable > thead > tr > th:nth-child(2){
    width: 20px;
}
#boardTable > thead > tr > th:nth-child(3){
    width: 50px;
}
#boardTable > thead > tr > th:nth-child(4){
    width: 100px;
}
#boardTable > thead > tr > th:nth-child(5){
    width: 50px;
}
#boardTable > thead > tr > th:nth-child(6){
    width: 20px;
}
#boardTable > thead > tr > th:nth-child(7){
    width: 40px;
}
#boardTable > thead > tr > th:nth-child(8){
    width: 20px;
}




/* 테이블 th,td 칸 */
.admin_reviewBoardWrap > table >th,td{
    border-top: 1px solid rgba(128, 125, 125, 0.446);
    padding: 10px 20px;
    margin: 10px;
    text-align: center;

}

/*  */


/* 등록,수정,삭제 감싸는 div */
.admin_reviewBtn{
    display: flex;
    margin-left: 75%;
    
}

/* 등록버튼 */
.admin_reviewEndBtn{
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    color: white;
    
}

.admin_reviewEndBtn a{
    color: white;
    
}

/* 페이지네이션 */
.pagination{
    text-decoration: none;
    text-align: center;
    list-style: none;
    margin-top: 30px;
}

.pagination li{
    display: inline;

}

.pagination a{
    text-decoration: none;
}

.pagination a:active{
    font-weight: bold;
    text-decoration: underline;
    color: #0F0954;
}
