/* 전체 감싸는 div */
.admin_reviewWrap{
    width: 1000px;
      display: block;
    margin: 100px auto;
    height: auto;
    top:-1000px;
    left:400px;
    position:relative;
}
/* 게시판 제목 */
#admin_reviewTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
   
}

.admin_reviewBoardWrap > table>tr,th,td{
    border-bottom: 1px solid black;
}
table > thead > tr:nth-child(1) > th{
    width: 100px;
}

/* 글 내용 */
table > thead > tr:nth-child(1) > td{
    width: 800px;
}




/* 내용 칸 */
.admin_reviewContent{
    height: 500px;
}


/* 등록버튼 감싸는 div */
.admin_reviewBtn{
    margin-left: 60%;

}

/* 등록버튼 */
.admin_reviewEndBtn{
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;

    
}

.admin_reviewEndBtn a{

    color: white;
    
}