/* 전체 감싸는 div */
.admin_noticeWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 1000px;
    left: 580px;
    top: 60px;
    height: 750px;
    gap: 20px;
}

/* 게시판 제목 */
#admin_noticeTitle {
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 180px;
    height: 46px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 제목 */
#title {
    width: 30px;
}

/* 제목 입력하는 칸 */
.admin_noticeTableInput {
    width: 400px;
    margin: 20px;
    outline: none;
    border: none;
    text-align: left;

}


.admin_noticeContentWrap {
    margin: 20px;

}

/* 글쓰기 textarea */
#summernote {
    width: 1000px;
    height: 500px;
    margin: 20px 10px;
    border: 1px solid black;
    padding: 0px;
    resize: none;

}

/* 등록버튼 */
.admin_noticeRegister {
    margin-left: 90%;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    color: white;

}

.admin_noticeRegister a {
    color: white;
    
}

.noticeCount:hover{
    text-decoration: underline;
}