/* 전체 감싸는 div */
.admin_reportWrap{
    width: 1000px;
      display: block;
    margin: 100px auto;
    height: auto;
    top:-1000px;
    left:400px;
    position:relative;
}
/* 게시판 제목 */
#admin_reportTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
   
}

/* 테이블 */

table{
    width: 1000px;
}

td{
    text-align: center;
}


/* 제목 */

body > div.admin_reportWrap > table > thead > tr:nth-child(3) > th{
    text-align: left;
}
body > div.admin_reportWrap > table > thead > tr:nth-child(4) > td{
    text-align: left;
    height: 100px;
}
/* 내용 */
body > div.admin_reportWrap > table > thead > tr:nth-child(5) > th{
    text-align: left;
}
body > div.admin_reportWrap > table > thead > tr:nth-child(6) > td{
    text-align: left;
    height: 500px;
}

/* 삭제여부 칸 */
body > div.admin_reportWrap > table > thead > tr:nth-child(7) > th{
    text-align: left;
}
body > div.admin_reportWrap > table > thead > tr:nth-child(8) > td{
    text-align: left;
    height: 80px;
}


.admin_reportBoardWrap > table>tr,th,td{
    border-bottom: 1px solid black;
}


body > div.admin_reportWrap > table > thead > tr:nth-child(6) > td{
    height: 400px;
}

/* 내용 칸 */
.admin_reportContent{
    height: 300px;
}


/* 등록버튼 감싸는 div */
.admin_reportBtn{
    margin-left: 60%;

}

/* 등록버튼 */
.admin_reportEndBtn{
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;

    
}

.admin_reportEndBtn a{

    color: white;
    
}