/* 전체 감싸는 div */
.admin_qnaWrap{
    width: 1000px;
      display: block;
    margin: 100px auto;
    height: auto;
    top:-1000px;
    left:400px;
    position:relative;
}
/* 게시판 제목 */
#admin_qnaTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
   
}

.admin_qnaBoardWrap > table>tr,th,td{
    border-bottom: 1px solid black;
    padding: 5px 10px;
}
table > thead > tr:nth-child(1) > th{
    width: 100px;
}

/* 글 내용 */
table > thead > tr:nth-child(1) > td{
    width: 800px;
}


/* 내용 칸 */
.admin_qnaContent{
    height: 400px;
    padding: 20px 20px;
}

/* 답변 칸 */
.admin_qnaComment{
    height: 200px;
    padding: 20px 20px;
}



/* 등록버튼 감싸는 div */
.admin_qnaBtn{
    margin-left: 60%;

}

/* 등록버튼 */
.admin_qnaEndBtn{
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    color: white;
    
}

.admin_qnaEndBtn a{
    color: white;
    
}