/* 전체 감싸는 div */
.admin_noticeWrap{
    width: 1000px;
      display: block;
    margin: 100px auto;
    height: auto;
}
/* 게시판 제목 */
#admin_noticeTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
   
}

.admin_noticeBoardWrap > table>tr,th,td{
    border-bottom: 1px solid black;
}
body > div.admin_noticeWrap > div > table > thead > tr:nth-child(4) > td{
    width: 800px;

}

/* 내용 칸 */
.admin_noticeContent{
    height: 500px;
}


/* 등록버튼 감싸는 div */
.admin_noticeBtn{
    margin-left: 60%;

}

/* 등록버튼 */
.admin_noticeEndBtn{
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    
}

.admin_noticeEndBtn a{
    color: white;
    
}