/* 전체 감싸는 div */
.admin_movieManageWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 1000px;
    left: 600px;
    top: 60px;
    height: 750px;
    gap: 20px;
}

/* 게시판 제목 */
#admin_movieManageTitle {
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 130px;
    height: 37px;
    text-align: center;
    border-radius: 10px;
    /* margin: 20px 0 15px 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* screen 상태 버튼 */
.movie-screening-flow{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.movie-screening-flow button{
    width: 110px;
    height: 60px;
    border-radius: 5px;
}

.menu-active{
    background-color: #59ada8;
}

/* 게시판 테이블 감싸는 div */
.admin_movieManageBoardWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* 게시판 테이블 */
.admin_movieManageBoardWrap table {
    border-bottom: 1px solid rgba(142, 142, 142, 0.431);
    border-collapse: collapse;
    width: 1000px;
}

/* 테이블 th,td 칸 */
.admin_movieManageBoardWrap>table>th,td {
    border-top: 1px solid rgba(128, 125, 125, 0.446);
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
}

table th:nth-of-type(1), td:nth-of-type(1) {
    padding: 10px 0px;
    width: 10%;
}

table th:nth-of-type(2), td:nth-of-type(2) {
    box-sizing: border-box;
    width: 50%;
}

table th:nth-of-type(3), td:nth-of-type(3) {
    padding: 10px 0;
    width: 20%;
}

table th:nth-of-type(4), td:nth-of-type(4) {
    width: 20%;
}

.movieStatus button{
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px;
}

.movieStatus button:hover{
    background-color: #59ada8;
}

.pagination-area{
    width: 100%;
    margin-top: 20px;
}   

.pagination{
    margin: auto;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination button{
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
}

.current{
    font-weight: bold;
    background-color: #59ada8 !important; 
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
}