
/* 전체 감싸는 div */
.admin_faqWrap{
    width: 1000px;
    display: block;
    margin: 100px auto;
    height: auto;
    top:-1000px;
    left:400px;
    position:relative;;
}

/* 게시판 제목 */
#admin_faqTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
   
}

/* 제목 입력하는 칸 */
.admin_faqTableInput{
    width: 900px;
    margin: 20px;
    outline: none;
    border:none;
    
}


.admin_faqContentWrap{
    margin: 20px;

}

/* 글쓰기 textarea */
#summernote{
    width: 1000px;
    margin: 20px 10px;
    border: none;
    padding:0px

}

/* 등록버튼 */
.admin_faqRegister{
    margin-left: 90%;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    
}

.admin_faqRegister a{
    color: white;
    
}
