/* 전체 감싸는 div */
.admin_movieManageDetailWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 1000px;
    left: 600px;
    top: 60px;
    height: 750px;
    gap: 20px;
}

/* 게시판 제목 */
.admin_movieManageTitle{
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 130px;
    height: 37px;
    text-align: center;
    border-radius: 10px;
    /* margin: 20px 0 15px 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-type{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.process-type button{
    width: 80px;
    height: 50px;
    border-radius: 10px;
}

.process-type-active{
    background-color: #59ada8;;
}

.process-type-none{
    display: none;
}



.admin_movieManageDetail--read{
    width: 100%;
    margin-top: 10px;
}

.base-info{
    display: flex;
}

.base-info__img{
    display: flex;
    align-items: center;
}

.base-info__img img{
    height: 280px;
    border-radius: 5px;
}


ul li{
    list-style: none;
    border-bottom: 1px solid rgba(128, 127, 127, 0.329);
    display: flex;
    align-items: center;
}

.base-info__basic{
    width: 100%;
    margin-left: 20px;
}

.base-info__basic li:last-of-type span{
    width: 80%;
    height: 145px;
    overflow-y: scroll;
}

.base-info__basic li:last-of-type span::-webkit-scrollbar {
    width: 10px;
}

/* 스크롤바 막대 설정*/
.base-info__basic li:last-of-type span::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
    border: 7px solid rgba(0, 0, 0);
}

/* 스크롤바 뒷 배경 설정*/
.base-info__basic li:last-of-type span::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.admin_movieLabel{
    float: left;
    width: 120px;
    margin: 10px 10px;
}

.stillcut{
    height: 100px;
}

.stillcutSwiper {
    width: 100%;
    height: 100%;
    user-select: none;
}

.stillcutSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stillcutSwiper .swiper-slide img {
    height: 100%;
    display: block;
    object-fit: cover;
    user-select: none;
}

.person{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    user-select: none;
}

/*  */
.person-img{
    margin: auto;
    width: 30%;
}
.person-img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/*  */
.person-info{
    padding-left: 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-name{
    text-decoration: underline;
    text-underline-offset: 4px;
    width: 60%;
    font-weight: bold;
    font-size: 14px;
}

.info-role{
    width: 60%;
    font-size: 13px;
}


/* 등록버튼 */
.admin_movieManageRegister{
    margin-left: 90%;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;
    
}

.admin_movieManageRegister a{
    color: white;
    
}