/* 전체 감싸는 div */
.admin_faqWrap{
    width: 1000px;
      display: block;
    margin: 100px auto;
    height: auto;
    top:-1000px;
    left:400px;
    position:relative;
}
/* 게시판 제목 */
#admin_faqTitle{
    color:#0F0954;
    font-size: 30px;
    font-weight: bold;
   
}

.admin_faqBoardWrap > table>tr,th,td{
    border-bottom: 1px solid black;
}
body > div.admin_faqWrap > div > table > thead > tr:nth-child(4) > td{
    width: 800px;

}

/* 내용 칸 */
.admin_faqContent{
    height: 500px;
}


/* 등록버튼 감싸는 div */
.admin_faqBtn{
    margin-left: 60%;

}

/* 등록버튼 */
.admin_faqEndBtn{
    margin: 50px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0F0954;

    
}

.admin_faqEndBtn a{

    color: white;
    
}