/* 전체 감싸는 div */
.admin_qnaWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 1000px;
    left: 580px;
    top: 30px;
    height: 750px;
    gap: 15px;
}

/* 게시판 제목 */
#admin_qnaTitle {
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    height: 46px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_qnaBoardWrap>table>tr,
th,
td {
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 10px;
}

table>thead>tr:nth-child(1)>th {
    width: 100px;
}

/* 글 내용 */
table>thead>tr:nth-child(1)>td {
    width: 800px;
}


/* 내용 칸 */
.admin_qnaContent {
    height: 400px;
    padding: 20px 20px;
}

/* 답변 칸 */
.admin_qnaComment {
    height: 200px;
    padding: 20px 20px;
}

/* 등록버튼 감싸는 div */
.admin_qnaBtn {
    
    display: flex;
    gap: 15px;
    margin: 10px 0 0 76%;
}

/* 등록버튼 */
.admin_qnaEndBtn {
    padding: 5px 6px;
    border-radius: 6px;
    width: 80px;
    height: 36px;
    background-color: #59ada8;
}

/* 등록버튼 hover */
.admin_qnaEndBtn:hover {
    font-size: 13px;
    background-color: #042928;
    font-weight: bold;
}

.admin_qnaEndBtn a {
    color: white;
}

