<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cinemaManage</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\admin\admin_cinemaManage.css">
</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_cinemaManageWrap">

              <!-- 게시판 제목 -->
              <span id="admin_cinemaManageTitle">상영관 관리</span>

              <!-- 상영관 별 보이기 -->
              <div class="admin_cinemaManageAll">
                <div class="admin_cinemaOne"><a href="">1관</a></div>
                <div>　</div>
                <div class="admin_cinemaOne"><a href="">2관</a></div>
                <div>　</div>
                <div class="admin_cinemaOne"><a href="">3관</a></div>
           

              <!-- 상영일 -->
              <div class="admin_cinemaManageDate">
                <input type="date" name="" id="">
              </div>
            </div>
        <!-- 검색창 -->
        <div class="admin_cinemaManageSearchWrap">
            <div  class="admin_cinemaSearchWrap2"> 
            <select class="admin_cinemaManageSelect" name="" id="">
                <option value="title">제목</option>
                <option value="director">감독</option>
                <option value="actor">배우</option>
            </select>
            <!-- 검색 input 창 -->
                <input type="text" name="" id="" class="admin_cinemaManageInput">
           </div>
            <!-- 검색 버튼 -->
            <div class="admin_cinemaManageBtnWrap">
                <button type="button" class="admin_cinemaManageSearchBtn">검색</button>
            </div>
        </div>
            <!-- 목록 count -->
            <div class="admin_cinemaManageList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_cinemaManageCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_cinemaManageBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_cinemaManageCheckboxAll"></th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>러닝타임</th>
                        <th>개봉일</th>
                        <th>상영시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_cinemaManageCheckbox"></td>
                        <td>1</td>
                        <td>범죄도시3</td>
                        <td>120분</td>
                        <td>2023.05.31</td>
                        <td>12:00,16:00</td>
                    </tr>
                </tbody>

                </table>
            </div>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <div class="admin_cinemaManageBtn">
                    <button class="admin_cinemaManageEndBtn"><a href="">등록</a></button>
                    <button class="admin_cinemaManageEndBtn"><a href="">수정</a></button>
                    <button class="admin_cinemaManageEndBtn"><a href="">삭제</a></button>
                </div>
                
            

           

       



    </div>    


</body>