<!DOCTYPE html>
<html lang="ko" xmlns="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieManageDetail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_movieManageDetail.css}">
</head>

<body>
    <!-- 사이드바 -->
    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_movieManageDetailWrap">
        <!-- 게시판 제목 -->
        <a th:href="@{/adminMovieManage}">
            <div class="admin_movieManageTitle">영화 관리</div>
        </a>

        <div class="process-type">
            <button id="typeCreateMovie">영화등록</button>
            <!-- <button id="typeCreateHighlight">광고등록</button>
            <button id="typeUpdateHighlight">광고수정</button> -->
            <button id="typeRead">상세보기</button>
            <button id="typeUpdate">수정</button>
            <button id="typeDelete">삭제</button>
            <button id="typeGoList" onclick="location.href='/adminMovieManage'">
                영화관리<br>페이지로
            </button>
        </div>

        <div class="admin_movieManageDetail read" th:object="${resp.movieInfo}">
            <ul>
                <div class="base-info">

                    <div class="base-info__img">
                        <img th:src="*{poster}">
                    </div>

                    <div class="base-info__basic">
                        <li>
                            <label class="admin_movieLabel">영화 제목</label>
                            [[*{movieTitle}]]
                        </li>

                        <li>
                            <label class="admin_movieLabel">개봉일</label>
                            [[*{releaseDate}]]
                        </li>

                        <li>
                            <label class="admin_movieLabel">현재상영상태</label>
                            [[*{screening}]]
                        </li>

                        <li>
                            <label class="admin_movieLabel">러닝타임</label>
                            [[*{runningTime}]]분
                        </li>

                        <li>
                            <label class="admin_movieLabel">장르</label>
                            [[*{genre}]]
                        </li>

                        <li>
                            <label class="admin_movieLabel">영화 등급</label>
                            [[*{rating}]]
                        </li>

                        <li>
                            <label class="admin_movieLabel">시놉시스</label>
                            <span th:utext="*{synopsis}"></span>
                        </li>

                    </div>
                </div>


                <li class="stillcut">
                    <label class="admin_movieLabel">스틸컷</label>
                    <div class="swiper stillcutSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="stillcut : ${resp.movieStillcut}"><img
                                    th:src="@{|${stillcut}|}"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </li>

                <li class="person">
                    <label class="admin_movieLabel">영화인</label>
                    <div class="swiper personSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide person" th:each="person : ${resp.moviePerson}">

                                <div class="person-img">
                                    <img th:src="@{|${person.img}|}">
                                </div>

                                <div class="person-info">
                                    <pre class="info-name" th:text="${person.name}">영화인 이름</pre>
                                    <pre class="info-role" th:text="${person.role}">영화인 역할</pre>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="admin_movieManageDetail update" th:object="${resp.movieInfo}">
            <form th:action="@{/adminMovieManage/update}" method="post" enctype="multipart/form-data">
                <ul>
                    <div class="base-info">
                        <input type="hidden" name="movieNo" th:value="*{movieNo}">
                        <div class="base-info__img">
                            <label for="updatePoster">
                                <img id="updatePosterImage" name="updatePosterOrigin" th:src="*{poster}" style="cursor: pointer;">
                            </label>
                            <input type="file" name="updatePoster" id="updatePoster" accept="image/*" style="display: none;">
                            <p style="text-align: center;">포스터<br>(357*510)</p>
                        </div>

                        <div class="base-info__basic">
                            <li>
                                <label class="admin_movieLabel">영화 제목</label>
                                <input type="text" name="movieTitle" th:value="*{movieTitle}">
                            </li>

                            <li>
                                <label class="admin_movieLabel">개봉일</label>
                                <input type="text" name="releaseDate" th:value="*{releaseDate}">
                            </li>

                            <li>
                                <label class="admin_movieLabel">현재상영상태</label>
                                <select name="updateScreening">
                                    <option value="W">임시대기</option>
                                    <option value="P">상영예정</option>
                                    <option value="C">현재상영</option>
                                    <option value="D">상영종료</option>
                                </select>
                            </li>

                            <li>
                                <label class="admin_movieLabel">러닝타임</label>
                                <input type="number" name="runningTime" th:value="*{runningTime}">분
                            </li>

                            <li>
                                <label class="admin_movieLabel">장르</label>
                                <input type="text" name="genre" th:value="*{genre}">
                            </li>

                            <li>
                                <label class="admin_movieLabel">영화 등급</label>
                                <select name='rating'>
                                    <option value='전체관람가'>전체관람가</option>
                                    <option value='만12세이상관람가'>만12세이상관람가</option>
                                    <option value='만15세이상관람가'>만15세이상관람가</option>
                                    <option value='청소년관람불가'>청소년관람불가</option>
                                </select>
                            </li>

                            <li>
                                <label class="admin_movieLabel">시놉시스</label>
                                <textarea name="synopsis" class="synopsis-edit" th:text="${resp.plainStory}">
                                </textarea>
                            </li>

                        </div>
                    </div>


                    <li class="stillcut">
                        <label class="admin_movieLabel"><p style="text-align: center;">스틸컷<br>(980*653)</p></label>
                        <div class="swiper updateStillcutSwiper" id="updateStillcutSlide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="stillcut : ${resp.movieStillcut}">
                                    <img th:src="@{|${stillcut}|}" onclick="openImageEditor(this)" style="cursor: pointer;">
                                    <input type="file" class="updateStillcut-input" name="updateStillcut" accept="image/*" style="display: none;" 
                                    onchange="updateImage(this)" th:data-original-src="@{|${stillcut}|}">
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <p class="append-buttons">
                            <button type="button" class="append-slide" id="updateStillcutAppend">스틸컷<br> 추가</button>
                        </p>
                    </li>

                    <li class="person">
                        <label class="admin_movieLabel"><p style="text-align: center;">영화인<br>(144*144)</p></label>
                        <div class="swiper updatePersonSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide person" th:each="person : ${resp.moviePerson}">

                                    <div class="person-img">
                                        <img th:src="@{|${person.img}|}" onclick="openImageEditor(this)" style="cursor: pointer;">
                                        <input type="file" class="updatePerson-input" accept="image/*" style="display: none;" 
                                        onchange="updateImage(this)" name="updatePersonImg" th:data-original-src="@{|${person.img}|}">
                                    </div>

                                    <div class="person-info">
                                        <input class="info-name update-name" name="updatePersonName" th:value="${person.name}" placeholder="영화인 이름"></input>
                                        <input class="info-role update-role" name="updatePersonRole" th:value="${person.role}" placeholder="영화인 역할"></input>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <p class="append-buttons">
                            <button type="button" class="append-slide" id="updatePersonAppend">인물<br> 추가</button>
                        </p>
                    </li>

                </ul>

                <button id="updateSubmit">수정</button>
            </form>
        </div>


        <div class="admin_movieManageDetail create">
            <form th:action="@{/adminMovieManage/create}" method="post" enctype="multipart/form-data">
                <ul>
                    <div class="base-info">

                        <div class="base-info__img">
                            <label for="createPoster">
                                <img id="createPosterImage" name="createPosterOrigin" th:src="@{/images/movie/포스터/null.jpg}" style="cursor: pointer;">
                            </label>
                            <input type="file" name="createPoster" id="createPoster" accept="image/*" style="display: none;">
                            <p style="text-align: center;">포스터<br>(357*510)</p>
                        </div>

                        <div class="base-info__basic">
                            <li>
                                <label class="admin_movieLabel">영화 제목</label>
                                <input type="text" name="createMovieTitle">
                            </li>

                            <li>
                                <label class="admin_movieLabel">개봉일</label>
                                <input type="text" name="createReleaseDate" placeholder="20YY-MM-DD">
                            </li>

                            <li>
                                <label class="admin_movieLabel">현재상영상태</label>
                                <select name="createScreening">
                                    <option value="wait" selected>임시대기</option>
                                </select>
                            </li>

                            <li>
                                <label class="admin_movieLabel">러닝타임</label>
                                <input type="number" name="createRunningTime">분
                            </li>

                            <li>
                                <label class="admin_movieLabel">장르</label>
                                <input type="text" name="createGenre" placeholder="액션 / 한국">
                            </li>

                            <li>
                                <label class="admin_movieLabel">영화 등급</label>
                                <select name='createRating'>
                                    <option value='전체관람가' selected>전체관람가</option>
                                    <option value='만12세이상관람가'>만12세이상관람가</option>
                                    <option value='만15세이상관람가'>만15세이상관람가</option>
                                    <option value='청소년관람불가'>청소년관람불가</option>
                                </select>
                            </li>

                            <li>
                                <label class="admin_movieLabel">시놉시스</label>
                                <textarea name="createSynopsis" class="synopsis-edit"></textarea>
                            </li>

                        </div>
                    </div>


                    <li class="stillcut">
                        <label class="admin_movieLabel"><p style="text-align: center;">스틸컷<br>(980*653)</p></label>
                        <div class="swiper createStillcutSwiper">
                            <div class="swiper-wrapper">
                                <!--  -->
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <p class="append-buttons">
                            <button type="button" class="append-slide" id="createStillcutAppend">스틸컷<br> 추가</button>
                        </p>
                    </li>

                    <li class="person">
                        <label class="admin_movieLabel"><p style="text-align: center;">영화인<br>(144*144)</p></label>
                        <div class="swiper createPersonSwiper">
                            <div class="swiper-wrapper">
                                <!--  -->
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <p class="append-buttons">
                            <button type="button" class="append-slide" id="createPersonAppend">인물<br> 추가</button>
                        </p>
                    </li>

                </ul>

                <button id="createSubmit">등록</button>
            </form>
        </div>


    </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>

        var stillCutSwiper = new Swiper(".stillcutSwiper", {
            slidesPerView: 4,
            spaceBetween: 30,
            freeMode: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var personSwiper = new Swiper(".personSwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            freeMode: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var updateStillCutSwiper = new Swiper(".updateStillcutSwiper", {
            slidesPerView: 4,
            spaceBetween: 30,
            freeMode: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        
        document
            .querySelector("#updateStillcutAppend")
            .addEventListener("click", function (e) {
                e.preventDefault();
                updateStillCutSwiper.appendSlide(
                    '<div class="swiper-slide">' +
                        '<img src="/images/movie/스틸컷/null.jpg" onclick="openImageEditor(this)" onerror="replaceWithPlaceholderStillcutUpdate(this)" style="cursor: pointer;">' +
                        '<input type="file" class="updateStillcut-input" name="updateStillcut" accept="image/*" style="display: none;" ' +
                        'onchange="updateImage(this)">' +
                    '</div>'
                    );
            });

            function replaceWithPlaceholderStillcutUpdate(image) {
                image.src = "/images/movie/스틸컷/null.jpg";
            }

        var updatePersonSwiper = new Swiper(".updatePersonSwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            freeMode: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        document
            .querySelector("#updatePersonAppend")
            .addEventListener("click", function (e) {
                e.preventDefault();
                updatePersonSwiper.appendSlide(
                    '<div class="swiper-slide person">' +
                        '<div class="person-img">' +
                            '<img src="/images/movie/영화인/null.png" onclick="openImageEditor(this)" style="cursor: pointer;">' +
                            '<input type="file" class="updatePerson-input" name="updatePersonImg" accept="image/*" style="display: none;" onchange="updateImage(this)" th:data-original-src="@{|${person.img}|}">' +
                        '</div>' +
                        '<div class="person-info">' +
                            '<input class="info-name update-name" name="updatePersonName" placeholder="영화인 이름"></input>' +
                            '<input class="info-role update-role" name="updatePersonRole" placeholder="영화인 역할"></input>' +
                        '</div>' +
                    '</div>'
                );
            });


        var createStillCutSwiper = new Swiper(".createStillcutSwiper", {
            slidesPerView: 4,
            spaceBetween: 30,
            freeMode: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        document
            .querySelector("#createStillcutAppend")
            .addEventListener("click", function (e) {
                e.preventDefault();
                createStillCutSwiper.appendSlide(
                    '<div class="swiper-slide">' +
                        '<img src="/images/movie/스틸컷/null.jpg" onclick="openImageEditor(this)" onerror="replaceWithPlaceholderStillcutUpdate(this)" style="cursor: pointer;">' +
                        '<input type="file" class="createStillcut-input" name="createStillcut" accept="image/*" style="display: none;" ' +
                        'onchange="updateImage(this)">' +
                    '</div>'
                );
            });


        var createPersonSwiper = new Swiper(".createPersonSwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            freeMode: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        document
            .querySelector("#createPersonAppend")
            .addEventListener("click", function (e) {
                e.preventDefault();
                createPersonSwiper.appendSlide(
                    '<div class="swiper-slide person">' +
                        '<div class="person-img">' +
                            '<img src="/images/movie/영화인/null.png" onclick="openImageEditor(this)" style="cursor: pointer;">' +
                            '<input type="file" class="createPerson-input" name="createPersonImg" accept="image/*" style="display: none;" onchange="updateImage(this)" th:data-original-src="@{|${person.img}|}">' +
                        '</div>' +
                        '<div class="person-info">' +
                            '<input class="info-name create-name" name="createPersonName" placeholder="영화인 이름"></input>' +
                            '<input class="info-role create-role" name="createPersonRole" placeholder="영화인 역할"></input>' +
                        '</div>' +
                    '</div>'
                );
            });


        
        

    </script>

    <script th:inline="javascript">

        const movieNo = /*[[${resp.movieNo}]]*/ "영화고유번호";
        const screenType = /*[[${resp.screen}]]*/ "상영상태";
        const processType = /*[[${resp.type}]]*/ "영화관리종류";
        const rating = /*[[${resp.movieInfo.rating}]]*/ "상영등급";

        const message = /*[[${message}]]*/ "성공 실패 메세지";

        if(message != null){
            alert(message);
        }

    </script>

    <script th:src="@{\js\admin\admin_movieManageDetail.js}"></script>


</body>

</html>