<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qna</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="/css/admin/admin_QNA.css">
</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_qnaWrap">
        
            <!-- 게시판 제목 -->
            <span id="admin_qnaTitle">1:1문의 관리</span>

        <!-- 검색창 -->
        <div class="admin_qnaSearchWrap">
               <!-- select랑 검색창만 감싸는 div -->
               <div  class="admin_userSearchWrap2">
            <select class="admin_qnaSelect" name="" id="">
                <option value="title">번호</option>
                <option value="director">이름</option>
                <option value="actor">이메일</option>
            </select>
            <!-- 검색 input 창 -->
        
                <input type="text" name="" id="" class="admin_qnaInput">
     
            </div>
            <!-- 검색 버튼 -->
            <div class="admin_qnaBtnWrap">
                <button type="button" class="admin_qnaSearchBtn">검색</button>
            </div>
        </div>
            <!-- 목록 count -->
            <div class="admin_qnaList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_qnaCount">0</span>
                <span>개)</span>

            </div>
            
            <!-- 게시판 -->
            <div class="admin_qnaBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_qnaCheckboxAll"></th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>등록인</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${adminQnaList}">
                        <td><input type="checkbox" name="" id="" class="admin_qnaCheckbox"></td>
                        <td th:text="${list.QNA_NO()}"></td>
                        <td th:text="${list.QNA_CATEGORY()}"></td>
                        <td th:text="${list.QNA_CONTENT()}"></td>
                        <td th:text="${list.USER_NICKNAME()}"></td>
                   
                    </tr>
                    
                </tbody>

                </table>
            </div>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <div class="admin_qnaBtn">
                    <button class="admin_qnaEndBtn"><a href="">등록</a></button>
                    <button class="admin_qnaEndBtn"><a href="">수정</a></button>
                    <button class="admin_qnaEndBtn"><a href="">삭제</a></button>
                </div>
                

            
    </div>    


</body>
</html>