<!DOCTYPE html>
<html lang="ko" xmlns="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieManage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_movieManage.css}">

</head>

<body>

    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>

    <div class="admin_movieManageWrap"
        th:with="pagination=${adminMovieList.pagination}, adminMovieList=${adminMovieList.adminMovieList}">

        <!-- 게시판 제목 -->
        <div id="admin_movieManageTitle">영화 관리</div>

        <!-- 영화 상영 상태 -->
        <div class="movie-screening-flow">

            <button id="screenWait">임시대기</button>

            <div>⇛</div>

            <button id="screenPromise">상영예정</button>

            <div>⇛</div>

            <button class="colorsubbutton" id="screenCurrent">현재상영</button>

            <div>⇛</div>
            
            <button id="screenDown">상영종료</button>

            <div></div>

            <button id="highlight">광고</button>

            <button id="whole">전체</button>

        </div>

        <!-- 게시판 -->
        <div class="admin_movieManageBoardWrap">
            <table>
                <thead>
                    <tr>
                        <th>고유번호</th>
                        <th>제목</th>
                        <th>개봉일</th>
                        <th>상태관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${adminMovieList}">
                        <td th:text="${list.movieNo}">영화번호</td>
                        <td th:text="${list.movieTitle}">영화제목</td>
                        <td th:text="${list.releaseDate}">개봉일</td>
                        <td class="movieStatus">
                            <button>상세보기</button>
                            <button>수정</button>
                            <button>삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이지 네이션 -->

        <!-- 게시글이 있을 때만 페이지네이션 보이기 -->
        <div class="pagination-area">

            <!--              검색 X인 경우의 페이지 네이션 -->
            <ul class="pagination">

                <!-- 첫 페이지로 이동 -->
                <!-- <li><a href="/board/${boardCode}?cp=1${sp}">&lt;&lt;</a></li> -->
                <li><a th:href="@{/adminMovieManage(cp=${pagination.startPage})}">&lt;&lt;</a></li>

                <!-- 이전 목록 마지막 번호로 이동 -->
                <!-- <li><a th:href="@{/board/${boardCode}?cp=${pagination.prevPage}${sp}}">&lt;</a></li> -->
                <!--          <li><a th:href="@{/adminUser(cp=${pagination.prevPage})}">&lt;</a></li> -->

                <!-- 특정 페이지로 이동 -->
                <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                    <li th:if="${i == pagination.currentPage}">
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>
                    <li th:unless="${i == pagination.currentPage}">
                        <a th:text="${i}" th:href="@{/adminMovieManage(cp=${i})}"></a>
                    </li>
                </th:block>

                <!-- 현재 보고있는 페이지 -->
                <li th:if="${i==pagination.currentPage}">
                    <a class="current" th:text="${i}">현재 페이지</a>
                </li>

                <!-- 현재 페이지를 제외한 나머지 -->
                <li th:unless="${i == pagination.currentPage}">
                    <a th:href="@{/adminMovieManage(cp=${pagination.nextPage})}" th:text="${i}">나머지 페이지</a>
                </li>
                </th:block>

                <!-- 다음 목록 시작 번호로 이동 -->
                <!--   <li th:if="${i==pagination.currentPage}">
                        <a class="current" th:text="${i}">현재 페이지</a>
                    </li>
                    -->
                <!-- 끝 페이지로 이동 -->
                <li><a th:href="@{/adminMovieManage(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
            </ul>
        </div>

    </div>

    <script th:src="@{\js\admin\admin_movieManage.js}"></script

</body>
</html>