<!DOCTYPE html>
<html lang="ko" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieManageDetail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_movieManageDetail.css}">
</head>
<body>
    <!-- 사이드바 -->
    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_movieManageDetailWrap">
        <!-- 게시판 제목 -->
        <div class="admin_movieManageTitle">영화 관리</div>
        
        <div class="process-type"> 
            <button id="typeCreateMovie" >영화등록</button>
            <button id="typeCreateHighlight" >광고등록</button>
            <button id="typeUpdateHighlight" >광고수정</button>
            <button id="typeRead" class="process-type-active">상세보기</button>
            <button id="typeUpdate" >수정</button>
            <button id="typeDelete" >삭제</button>
        </div>

        <div class="admin_movieManageDetail--read" th:object="${movieInfo}">
            <ul>
                <div class="base-info">

                    <div class="base-info__img">
                        <img th:src="*{poster}">
                    </div>

                    <div class="base-info__basic">
                        <li>
                            <label class="admin_movieLabel">영화 제목</label>
                            [[*{movieTitle}]]
                        </li>
        
                        <li>
                            <label class="admin_movieLabel">개봉일</label>
                            [[*{releaseDate}]]
                        </li>
        
                        <li>
                            <label class="admin_movieLabel">러닝타임</label>
                            [[*{runningTime}]]분
                        </li>
        
                        <li>
                            <label class="admin_movieLabel">장르</label>
                            [[*{genre}]]
                        </li>
                        
                        <li>
                            <label class="admin_movieLabel">영화 등급</label>
                            [[*{rating}]]
                        </li>
                        
                        <li>
                            <label class="admin_movieLabel">시놉시스</label>
                            <span th:utext="*{synopsis}"></span>
                        </li>

                    </div>
                </div>
                
                
                <li>
                    <label class="admin_movieLabel">스틸컷</label>
                </li>
        
                <li>
                    <label class="admin_movieLabel">영화인</label>
                </li>

            </ul>
        </div>

        <!-- 등록,수정,삭제 버튼 -->
        <!-- <button class="admin_movieManageRegister"><a href="">등록</a></button> -->
    
    </div>
    
    
    
    </div>

    <script th:src="@{\js\admin\admin_movieManageDetail.js}"></script>
</body>
</html>