<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="/css/admin/admin_notice_read.css">
</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_noticeWrap">

            <!-- 게시판 제목 -->
          <span id="admin_noticeTitle">공지사항 관리</span>

            <!-- 게시판 -->
            <div class="admin_noticeBoardWrap" th:each="list : ${adminNoticeOne}">
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                                <td th:text="${list.noticeNo}">1</td>
                        </tr>
                        <tr th:each="list : ${adminNoticeOne}">
                            <th>제목</th>
                                <td th:text="${list.noticeTitle}">회원 정보 관리 변경 안내</td>
                        </tr>
                        <tr >
                            <th>내용</th>
                                <td th:each="list : ${adminNoticeOne}">    <!-- 내용 -->
                                    <div class="admin_noticeContent" th:utext="${list.noticeContent}">
                                       안내드립니다
                                    </div></td>
                        </tr>
                    
                </thead> 
             </table>

         
 
                <!-- 페이지 네이션 -->

          <!-- 등록,수정,삭제 버튼 -->
          <div class="admin_noticeBtn">
            <button class="admin_noticeEndBtn"><a th:href="@{/adminNotice}">목록</a></button>
            <button class="admin_noticeEndBtn"><a th:href="@{/adminNoticeUpdate/{noticeNo}(noticeNo=${list.noticeNo})}">수정</a></button>
            <button class="admin_noticeEndBtn"><a th:href="@{/adminNoticeRead/{noticeNo}/delete(noticeNo=${list.noticeNo})}">삭제</a></button>
        </div>
        
            

            </div>

        </div>



    </div>    


</body>
</html>