<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>notice_write</title>

<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 






    <link rel="stylesheet" href="\css\style.css">   
    <link rel="stylesheet" href="/css/admin/admin_notice_write.css">
    
    <script src="../admin/summernote-ko-KR.js"></script>
    <script src="../admin/summernote-lite.js"></script>
    <link rel="stylesheet" href="../admin/summernote-lite.css">
</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <form th:action="@{/adminNoticeWriteInsert}" method="POST">
    <div class="admin_noticeWrap">
            <!-- 게시판 제목 -->
            <span id="admin_noticeTitle">공지사항 관리</span>
        <!-- 테이블 감싸는 div -->
        <div class="admin_noticeTableWrap "style="border-bottom: 1px solid black">
        <table>
            <tr   >
                <th>제목</th>
                <td><input type="text" name="noticeTitle" id="" class="admin_noticeTableInput"></td>
            </tr>
        </table>
    </div>
    <!-- 내용 쓰는 칸 -->
        <div class="admin_noticeContentWrap">
        
                <textarea id="summernote" name="noticeContent"></textarea>
     
        </div>
           <!-- 등록 버튼 -->
                <button class="admin_noticeRegister" type="submit">등록</button>
            </form>
           </div>
        </div>
 
    </div>    
  
    
</body>

</html>