<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\admin\admin_FAQ.css">

</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_faqWrap">

              <!-- 게시판 제목 -->
              <span id="admin_faqTitle">FAQ 관리</span>


        <!-- 검색창 -->
        <div class="admin_faqSearchWrap">
            <div  class="admin_faqSearchWrap2"> 
            <form action="search-form" autocomplete="off">
            <select class="admin_faqSelect" name="type" id="">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>
            <!-- 검색 input 창 -->
                <input type="text" name="" id="" class="admin_faqInput">
        </div>
            <!-- 검색 버튼 -->
            <div class="admin_faqBtnWrap">
                <button type="button" onclick="getSearchList()" class="admin_faqSearchBtn" value="검색">검색</button>
            </div>

        </form>
        </div>
            <!-- 목록 count -->
            <div class="admin_faqList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_faqCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_faqBoardWrap">
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" class="admin_faqCheckboxAll"></th>
                        <th>번호</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>등록인</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_faqCheckbox"></td>
                        <td>1</td>
                        <td>[예매/결제]</td>
                        <td>인터넷 예매 후 현장에서 취소 가능한가요?</td>
                        <td>2023.05.31</td>

                    </tr>
                </tbody>

                </table>
            </div>

                <!-- 페이지 네이션 -->

                 <!-- 등록,수정,삭제 버튼 -->
                 <div class="admin_faqBtn">
                    <button class="admin_faqEndBtn"><a href="">등록</a></button>
                    <button class="admin_faqEndBtn"><a href="">수정</a></button>
                    <button class="admin_faqEndBtn"><a href="">삭제</a></button>
                </div>

    </div>    

    <script src="\js\admin\admin_FAQ.js"></script>
</body>
</html>