<!DOCTYPE html>
<html lang="ko" xmlns="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieManage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_movieManage.css}">

</head>

<body>

    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>

    <div class="admin_movieManageWrap">

        <!-- 게시판 제목 -->
        <div id="admin_movieManageTitle">영화 관리</div>

        <!-- 영화 상영 상태 -->
        <div class="movie-screening-flow">

            <button id="screenWait" data-page="1">임시대기</button>

            <div>⇛</div>

            <button id="screenPromise" data-page="1">상영예정</button>

            <div>⇛</div>

            <button class="colorsubbutton" id="screenCurrent" data-page="1">현재상영</button>

            <div>⇛</div>
            
            <button id="screenDown" data-page="1">상영종료</button>

            <div></div>

            <button id="highlight" data-page="1">광고</button>

            <button id="whole" data-page="1">전체</button>

        </div>

        <!-- 게시판 -->
        <div class="admin_movieManageBoardWrap">
            <table>
                <thead>
                    <tr>
                        <th>고유번호</th>
                        <th>제목</th>
                        <th>개봉일</th>
                        <th>상태관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${movieList}">
                        <td th:text="${list.movieNo}">영화번호</td>
                        <td th:text="${list.movieTitle}">영화제목</td>
                        <td th:text="${list.releaseDate}">개봉일</td>
                        <td class="movieStatus">
                            <button>상세보기</button>
                            <button>수정</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>

        </div>

    </div>

    <script th:src="@{\js\admin\admin_movieManage.js}"></script>

</body>
</html>