<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainHeader">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Sales</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/admin_sales.css">

</head>

<body>
    
    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>

    <div class="admin_dashboardWrap" layout:fragment="content">

        <div class="admin_sales_box_top">
            <div class="admin_monthly_sales_by_year">
                <div class="admin_monthly_sales_by_year_title">
                    <select id="monthlySalesByYear" onchange="monthlySalesByYearAjax()">
                        <option value=""></option>
                    </select>
                    <span>년 월 매출</span>
                </div>
                <div class="admin_monthly_sales_by_year_chart_box">
                    <canvas id="monthlySalesByYearChart"></canvas>
                </div>
            </div>

            <div class="admin_dashboardQnaList">
                <div class="admin_dashboardQnaList_title">
                    <span>영화별 예매 건수</span>
                </div>
                <div class="admin_dashboardQnaList-in">
                    
                    <div id="ChartBox">

                    </div>
                </div>
            </div>

        </div>

        <div class="admin_sales_box_bottom">

            <div class="admin_SalesforQuarter">
                <div class="admin_SalesforQuarter_title">
                    <select id="QuarterYearSelect" onchange="salesForQuarter()">
                        <option value=""></option>
                    </select>
                    <span class="sales-Quarter-title">년 분기 매출</span>
                </div>
                <div class="admin_SalesforQuarter-in">
                    <div id="salesForQuarterChartBox">
                        <canvas id="salesForQuarterChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="admin_dashboardSalesforLastweek">
                <div class="admin_dashboardSalesforLastweek_title"><span>지난주 요일별 매출</span></div>
                <div class="admin_dashboardSalesforLastweek-in">
                    <div>
                        <canvas id="salesForLastWeek" style="width: 400px;height: 250px;"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script th:inline="javascript">

        function addMissingDays(inputDays, inputSales, ReferenceDate) {
            for (let i = 0; i < ReferenceDate.length; i++) {
                if (!inputDays.includes(ReferenceDate[i])) {
                    inputDays.splice(i, 0, ReferenceDate[i]);
                    inputSales.splice(i, 0, 0);
                }
            }
        }
        const firstLoadingQuarterlySales = /*[[${firstLoadingQuarterlySales}]]*/"첫 로딩 현 년도 분기 매출";
        let quarterlySales = [];
        /*[# th:each="QuarterlySales : ${firstLoadingQuarterlySales}"]*/
        quarterlySales.push(/*[[${QuarterlySales.quarterlySales}]]*/);
        /*[/]*/

        const firstLoadingMonthlySalesByYear = /*[[${firstLoadingMonthlySalesByYear}]]*/"첫 로딩 현 년도 월 매출";
        let monthlySalesByYearArr = [];
        let monthlySalesByYearAndMonthArr = [];
        /*[# th:each="monthlySalesByYear : ${firstLoadingMonthlySalesByYear}"]*/
        monthlySalesByYearArr.push(/*[[${monthlySalesByYear.monthlySalesByYear}]]*/);
        monthlySalesByYearAndMonthArr.push(/*[[${monthlySalesByYear.yearAndMonth}]]*/);
        /*[/]*/


        const allDays = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY'];
        let salesByPeriod = [];
        let salesByDays = [];
        /*[# th:each="sales : ${salesByPeriod}"]*/
        salesByPeriod.push(/*[[${sales.totalSales}]]*/);
        salesByDays.push(/*[[${sales.ticketingDay}]]*/);
        /*[/]*/
        for (let i = 0; i < allDays.length; i++) {
            if (!salesByDays.includes(allDays[i])) {
                salesByDays.splice(i, 0, allDays[i]);
                salesByPeriod.splice(i, 0, 0);
            }
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="\js\admin\admin_sales.js"></script>



</body>

</html>