<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainHeader">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_DashBoard</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/admin_dashboard.css">



</head>

<body>
    <!-- 사이드바 -->
    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_dashboardWrap" layout:fragment="content">

        <!-- 분기별 매출 및 영화 매출 박스 -->
        <div class="admin-things-box">
            <div class="admin_dashboardSalesforMovie">
                <div class="admin_dashboardSalesforMovie_title"><span>영화별 총 매출[현재 상영작]</span></div>
                <div class="admin_dashboardSalesforMovie-in" th:field="*{cinemaList}">
                    <span class="select-movie-title">영화 목록</span>
                    <select onchange="getTicketAmount(this)">
                        <option>영화를 선택해주세요</option>
                        <option th:each="list: ${cinemaList}" th:value="${list.movieNo}" th:text="${list.movieTitle}">
                            영화를 선택해주세요</option>
                    </select>
                    <input type="hidden" name="movieNo" id="selectedMovie" />
                    <div class="ticketAmountWrap">
                        <span class="ticket-amount-title">매출</span>
                        <span id="ticketAmount" th:text="${ticketAmount}">₩5,000,000</span>
                    </div>

                </div>
            </div>


            <!-- reservations_each_movie_last_3_months -->
            <div class="admin_reservations_each_movie_last_3_months">
                <div class="admin_reservations_each_movie_last_3_months_title_box">
                    <span class="admin_reservations_each_movie_last_3_months_title">영화별 최근 세달 예매 건수</span>
                    <a th:href="@{/adminSales}"><span class="more_chart">자세히 >></span></a>
                </div>
                <div class="admin_reservations_each_movie_last_3_months-in">
                    <span class="totalTicketCount"></span>
                    <div id="reservationsEachMovieLast3MonthsChartBox">
                        <canvas id="reservationsEachMovieLast3MonthsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- 1:1 문의 리스트 및 그래프 박스 -->
        <div class="admin-second-things-box">
            <!-- 1:1 문의 List -->
            <div class="admin_dashboardQnaList">
                <div class="admin_dashboardQnaList_title"><span>1:1 문의 리스트 [미답변]</span></div>
                <div class="admin_dashboardQnaList-in">
                    <table>
                        <tbody>
                            <tr>
                                <th>제목</th>
                                <th>회원</th>
                            </tr>
                            <tr th:each="list: ${adminQnaList}">
                                <td><a th:href="@{adminQnaRead/{qnaNo}(qnaNo=${list.qnaNo})}"
                                        th:text="${list.qnaTitle}">지갑
                                        잃어버렸어요</a></td>
                                <td th:text="${list.userId != null ? list.userId : '비회원'}">2023.05.31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="admin_dashboardSalesforLastweek">
                <div class="admin_dashboardSalesforLastweek_title"><span>지난주 요일별 매출</span></div>
                <div class="admin_dashboardSalesforLastweek-in">
                    <div>
                        <!--차트가 그려질 부분-->
                        <canvas id="myChart" style="width: 400px;height: 250px;"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div style="width: 500px; height: 1000px; color: black;"> -->
        <th:block th:each="sales : ${lastWeekSales}">
            <div th:text="${sales.totalSales}"></div>
        </th:block>
        <!-- </div> -->


    </div>
    <script th:inline="javascript">

        let reservationsEachMovieTitle = [];
        let reservationsEachMovieTicketCount = [];
        let totalTicketCount = 0;
        /*[# th:each="reservationsEachMovie : ${reservationsEachMovieLast3Months}"]*/
        reservationsEachMovieTitle.push(/*[[${reservationsEachMovie.movieTitle}]]*/);
        reservationsEachMovieTicketCount.push(/*[[${reservationsEachMovie.ticketCount}]]*/);
        totalTicketCount += /*[[${reservationsEachMovie.ticketCount}]]*/'totalTicketCount';
        /*[/]*/
        
        const allDays = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY'];
        let salesByPeriod = [];
        let salesByDays = [];
        /*[# th:each="sales : ${salesByPeriod}"]*/
        salesByPeriod.push(/*[[${sales.totalSales}]]*/);
        salesByDays.push(/*[[${sales.ticketingDay}]]*/);
        /*[/]*/
        for (let i = 0; i < allDays.length; i++) {
            if (!salesByDays.includes(allDays[i])) {
                salesByDays.splice(i, 0, allDays[i]);
                salesByPeriod.splice(i, 0, 0);
            }
        }
        
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="\js\admin\admin_dashborad.js"></script>



</body>

</html>