<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cinemaManage Detail</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\admin\admin_cinemaMangeDetail.css">
  
</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- div 전체 감싸기 -->
    <div class="admin_cinemaManageDetailWrap">
      
        <!-- 게시판 제목 -->
        <span id="admin_cinemaManageTitle">상영관 관리</span>

        <!-- 상영관 감싸기 -->
        <div class="admin_cinemaManageDetailListWrap">
        <div class="admin_cinemaManageDetaiPlList">
            <span class="admin_cinemaManagerSTitle">상영관  </span> <!-- s: small -->
            <!-- 상영관 선택 -->
            <select class="admin_cinemaManageDetailSelect" name="" id=""> <!-- Place List -->
                <option value="1">1관</option>
                <option value="2">2관</option>
                <option value="3">3관</option>
            </select>
        </div>
        <!--영화 선택  -->
        <div class="admin_cinemaManageDetail_Time">
        <span class="admin_cinemaManagerSTitle">상영 영화</span>
            <select class="admin_cinemaManageDetaiMlList" name="" id="" th:field="*{cinemaList}">  <!-- Movie List -->
                <option value="0" >영화를 선택해주세요</option> 
                <option value="1" th:each="list: ${cinemaList}" th:text="${list.movieTitle}" >영화를 선택해주세요</option> 
            </select>
               
         </div>
         <!-- 상영 시작 날짜 -->
         <div class="admin_cinemaManageDetailStartDate">
            <span class="admin_cinemaManagerSTitle">상영 날짜  </span>
            <input type="date" name="" id="">
        </div>

        <!-- 상영 종료 날짜-->
 
        <!-- 상영 시간 => 해시태그 -->
    <div class="admin_cinemaManageDetailDate">
        <span class="admin_cinemaManagerSTitle">상영 시간 </span>
        <div class="box">
             <span class="innerBox"></span> <!-- 해시태그 등록되는 칸 -->
               <input type="text" name="" id=""> <!-- 입력칸 -->
    </div>
    </div>

</div>

         <button class="admin_reportRegister"><a href="">등록</a></button>


    </div>

    


    <script src="\js\admin\admin_cinemaMangeDetail.js"></script>

</body>
</html>