<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mainHeader">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_DashBoard</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/admin_sales.css">



</head>

<body>
    <!-- 사이드바 -->
    <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_salesWrap">

        <!-- div1 -->
        <div class="1">ㅁ</div>
        <!-- div2 -->
        <div class="2">ㅁ</div>
        <!-- div3 -->
        <div class="3">ㅁ</div>
        <!-- div4 -->
        <div class="4">ㅁ</div>
        <!-- div5 -->
        <div class="5">ㅁ</div>
        <!-- div6 -->
        <div class="6">ㅁ</div>



    </div>



    <script src="\js\admin\admin_sales.js"></script>



</body>

</html>