<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="/css/admin/admin_user.css">

</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_userWrap">
            <!-- 게시판 제목 -->
            <span id="admin_userTitle">회원 관리</span>
        <!-- 검색창 -->
        <div class="admin_userSearchWrap">
            <!-- select랑 검색창만 감싸는 div -->
            <div  class="admin_userSearchWrap2"> 
            <select class="admin_userSelect" name="" id="">
                <option value="title">번호</option>
                <option value="director">이름</option>
                <option value="actor">이메일</option>
            </select>
            <!-- 검색 input 창 -->
        
                <input type="text" name="" id="" class="admin_userInput">
            </div>
    
            <!-- 검색 버튼 -->
            <div class="admin_userBtnWrap">
                <button type="button" class="admin_userBtn">검색</button>
            </div>
        </div>
            <!-- 목록 count -->
            <div class="admin_userList">
                <span>목록</span>
                <span>( 총</span>
                <span class="admin_userCount">0</span>
                <span>개)</span>

            </div>
            <!-- 게시판 -->
            <div class="admin_userBoardWrap">
                <table>
                    <thead>
                    <tr><!-- F : first -->
                        <th><input type="checkbox" name="" id="" class="admin_userCheckboxAll"></th>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>이메일</th>
                        <th>닉네임</th>
                        <th>가입일</th>
                        <th>등급</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_userCheckbox"></td>
                        <td>1</td>
                        <td>typoon</td>
                        <td>ty@email.com</td>
                        <td>태풍이</td>
                        <td>2023.06.01</td>
                        <td>실버</td>
                        <td>정상</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_userCheckbox"></td>
                        <td>2</td>
                        <td>ty</td>
                        <td>ty@email.com</td>
                        <td>태풍</td>
                        <td>2023.05.01</td>
                        <td>실버</td>
                        <td>정상</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="" class="admin_userCheckbox"></td>
                        <td>3</td>
                        <td>ty</td>
                        <td>ty@email.com</td>
                        <td>태풍</td>
                        <td>2023.05.01</td>
                        <td>실버</td>
                        <td>정상</td>
                    </tr>
                </tbody>

                </table>
            </div>

                <!-- 페이지 네이션 -->

                <!-- 등록,수정,삭제 버튼 -->
                <button class="admin_userRegister"><a href="">탈퇴</a></button>
  
            

         

       



    </div>    


</body>
</html>