<!DOCTYPE html>
<html lang="ko" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieManageDetail</title>
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="/css/admin/admin_movieManageDetail.css">
</head>
<body>
       <!-- 사이드바 -->
 <th:block th:replace="~{/admin/admin_sideBar}"></th:block>
    <!-- 전체 감싸는 div -->
    <div class="admin_movieManageDetailWrap">
    <!-- 게시판 제목 -->
    <span id="admin_movieManageTitle">영화 관리</span>

        <ul>
        <li><label for="" class="admin_movieLabel">개봉일</label>
            <input type="date" name="" id="">
        </li>
        <li><label for="" class="admin_movieLabel">러닝타임</label>
            <input type="text" name="" id=""><span> 분</span>
        </li>
        
        <li><label for="" class="admin_movieLabel">장르</label>
            <select name="" id="">
                <option value="" selected>장르선택</option>
                <option value="">드라마</option>
                <option value="">액션</option>
                <option value="">코디미</option>
                <option value="">로맨스</option>
                <option value="">스릴러</option>
                <option value="">호러</option>
                <option value="">애니메이션</option>
                <option value="">SF</option>
            </select>
        </li>
        
        <li><label for="" class="admin_movieLabel">영화 제목</label>
            <input type="text" name="" id="">
        </li>
        
        <li><label for="" class="admin_movieLabel">감독 이름</label>
            <input type="text" name="" id="">
        </li>
        
        <li><label for="" class="admin_movieLabel">배우 이름</label>
            <input type="text" name="" id="">
        </li>
        
        <li><label for="" class="admin_movieLabel">영화 등급</label>
            <select name="" id="">
                <option value="All">전체</option>
                <option value="12">12</option>
                <option value="15">15</option>
                <option value="19">19</option>
              
    
            </select>
        </li>
        
        <li><label for="" class="admin_movieLabel">영화 영상</label>
            <input type="file" name="" id="">
        </li>
        
        <li><label for="" class="admin_movieLabel">상세설명</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </li>
        
        <li><label for="" class="admin_movieLabel">영화 포스터</label>
            <input type="file" name="" id="">
        </li>
  
         </ul>
                <!-- 등록,수정,삭제 버튼 -->
                <button class="admin_movieManageRegister"><a href="">등록</a></button>

            

    

        </div>



    </div>    


</body>
</html>