<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 쿠폰함</title>
    <link rel="stylesheet" th:href="@{/css/myPage/my-page-coupon.css}">
</head>
<body>
    <!-- 등급별로 쿠폰 보이지 않게 + 사용한 쿠폰 보이지 않게 기능 추가 예정 -->
    <ul id="display-onoff">
        <li style="--i:1;" id="bronze">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 브론즈 쿠폰</h4>
                <span>1000원 할인 쿠폰</span>
            </div>
        </li>
        <li style="--i:2;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 실버 쿠폰</h4>
                <span>2000원 할인 쿠폰</span>
            </div>
        </li>
        <li style="--i:2;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 실버 쿠폰</h4>
                <span>2000원 할인 쿠폰</span>
            </div>
        </li>
        <li style="--i:3;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 골드 쿠폰</h4>
                <span>3000원 할인 쿠폰</span>
            </div>
        </li>
        <li style="--i:3;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 골드 쿠폰</h4>
                <span>3000원 할인 쿠폰</span>
            </div>
        </li>
        <li style="--i:3;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 골드 쿠폰</h4>
                <span>3000원 할인 쿠폰</span>
            </div>
        </li>
        <li style="--i:4;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 플래티넘 쿠폰</h4>
                <span>영화 무료 쿠폰</span>
            </div>
        </li>
        <li style="--i:4;">
            <img th:src="@{/images/myPage/tiket.png}">
            <div class="coupon-text">
                <h4>멤버십 플래티넘 쿠폰</h4>
                <span>영화 무료 쿠폰</span>
            </div>
        </li>
    </ul>
    
    <div id="coupon-null">

        <div id="coupon-null-container">
            <img th:src="@{/images/myPage/mailBox.png}">
            <span>쿠폰함이 비어있습니다.</span>
        </div>

    </div>
</body>
</html>