<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my-page-inquiry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/dreamGardenCinema-boot/src/main/resources/static/css/myPage/my-page-inquiry.css">
    <link rel="stylesheet" href="/dreamGardenCinema-boot/src/main/resources/static/css/myPage/my-page-changeinfo.css">
</head>

<body>

    <div class="my-page-container">
        <div class="my-page-nickname">
            <p>ㅇㅇㅇ님 환영합니다!</p>
        </div>


        <div class="my-page-category">
            <ul class="my-page-L">
                <li class="my-page-myinfo">
                    <a href="#"><img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/내 정보 아이콘.png"></a>
                    <a href="#">내정보 변경</a>
                </li>

                <li class="my-page-myprofile">
                    <a href="#"><img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/프로필 변경 아이콘.png"></a>
                    <a href="#">닉네임 변경</a>
                </li>
            </ul>

            <!-- 멤버십 등급에 따라 이미지 변경 브론즈-실버-골드-플래티넘 -->
            <a href="#" class="my-page-membership-grade">
                <img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/브론즈.png">
            </a>

            <ul class="my-page-R">
                <li class="my-page-customer-service">
                    <a href="#"><img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/1TO1문의.png"></a>
                    <a href="#">1:1문의</a>
                </li>

                <li class="my-page-membership">
                    <a href="/dreamGardenCinema-boot/src/main/resources/templates/myPage/my-page-membership.html"><img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/멤버십 아이콘.png"></a>
                    <a href="/dreamGardenCinema-boot/src/main/resources/templates/myPage/my-page-membership.html">멤버십</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="my-page-empty-space"></div>

    <div class="my-page-nav">
        <ul class="my-page-nav-list">
            <li>
                <a href="/dreamGardenCinema-boot/src/main/resources/templates/myPage/my-page-reservation.html">예매 내역</a>
            </li>

            <li>
                <a href="#">취소 내역</a>
            </li>

            <li>
                <a href="/dreamGardenCinema-boot/src/main/resources/templates/myPage/my-page-inquiry.html">나의 문의 내역</a>
            </li>

            <li>
                <a href="#">회원탈퇴</a>
            </li>
        </ul>
    </div>
    <div class="my-page-contents-container">

        <!-- 예매 내역이 있을 경우 -->
        <div class="my-page-inquiry-title">
            <span>번호</span> <span>분류</span> <span>첨부파일</span> <span>작성일</span> <span>상태</span>
        </div>
        
        <div class="my-page-inquiry-content">
            <span>1</span> <span>[멤버십]</span> <span id="file">O</span> <span>2023.06.07</span> <span id="ing">처리중</span>
        </div>
        
        <!-- 문의 내역이 없을 경우 -->
        <div class="my-page-contents-box">
            <div class="my-page-contents">
                <img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/느낌표.png">
                <p>문의 내역이 존재하지 않습니다.</p>
            </div>
        </div>
        
    </div>
    
    <div class="pagination">
        <i class="fa-solid fa-arrow-left"></i>
        <ol id="paginationNumbers">
            <!-- <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li> -->
        </ol>
        <i class="fa-solid fa-arrow-right"></i>
    </div>

    <!-- 닉네임 변경 모달 영역 -->

    <div class="my-page-change-nickname-area">

        <div class="my-page-change-nickname-content">
            <div>
                닉네임 변경
            </div>
            <div class="my-page-change-nickname-inputbox">
                <input type="text" id="nickname-input">
                <i id="nickname-i"></i>
            </div>
            <div class="my-page-change-nickname-update-btn">
                <button>수정</button>
                <button>취소</button>
            </div>
        </div>

    </div>




    <!-- 내 정보 변경 모달 영역 -->
    <div class="my-page-changeinfo-modal-area">

        <div class="my-page-changeinfo-border">


        <div class="my-page-changeinfo-top">
            <span>회원 정보변경</span> 
            <p>회원 정보를<br>
                <span>정확하게 입력해 주세요.</span>
            </p>
        </div>
        <div class="my-page-changeinfo-container">
            <span>Dream Garden Cinema</span>
    
            <p>회원 정보 입력<span class="my-page-changeinfo-guide-text"> *는 필수입력 항목입니다</span></p>
        </div>
    
        <div class="my-page-changeinfo-contentbox">
    
            <div class="my-page-changeinfo-back">
                
                <div class="my-page-changeinfo-name">
                    <p class="my-page-changeinfo-guide-text">*  <span>이름</span></p>
                    <span>나카무라윤</span>
                </div>
                <div class="my-page-changeinfo-id">
                    <p class="my-page-changeinfo-guide-text">*  <span>아이디</span></p>
                    <span>dokdoiskorea@naver.com</span>
                </div>
                <div class="my-page-changeinfo-hp">
                    <p class="my-page-changeinfo-guide-text">*  <span>핸드폰 번호</span></p>
                    <input type="text">
                </div>
                <div class="my-page-changeinfo-email">
                    <p class="my-page-changeinfo-guide-text">*  <span>Email</span></p>
                    <input type="email">
                </div>
                
            </div>
            
            <div class="my-page-changeinfo-pw-container">
                
                <div class="my-page-changeinfo-pw">
                    <input type="text" required="required">
                    <span>현재 비밀번호</span>
                    <i></i>
                </div>
                <div class="my-page-changeinfo-pw">
                    <input type="text" required="required">
                    <span>새 비밀번호</span>
                    <i></i>
                </div>
                <div class="my-page-changeinfo-pw">
                    <input type="text" required="required">
                    <span>새 비밀번호 확인</span>
                    <i></i>
                </div>
                <p class="my-page-changeinfo-guide-text">* 8-15 자리의 영문/숫자/특수문자를 함께 입력해주세요</p>
                
            </div>
            
            <div class="my-page-changeinfo-address-container">
                <div>
                    <p class="my-page-changeinfo-guide-text">* <span>주소</span></p>
                </div>
                
                <div class="my-page-changeinfo-address-inputbox">
                    
                    <div id="postcode-box">
                        <input type="text" placeholder="우편번호" id="postcode">
                        <!-- <button id="search-address-btn" type="button" onclick="sample6_execDaumPostcode()">검색</button> -->
                        <img src="/dreamGardenCinema-boot/src/main/resources/static/images/myPage/주소 검색 아이콘.png" onclick="sample6_execDaumPostcode()" id="my-page-changeinfo-address-btn">
                    </div>
                    <div>
                        <input type="text" placeholder="도로명/지번 주소" id="address">
                    </div>
                    <div>
                        <input type="text" placeholder="상세 주소" id="detailAddress">
                    </div>
                </div>
            </div>
            
            <div class="my-page-changeinfo-update-btn">
                    <button>수정</button>
                    <button>취소</button>
            </div>
        </div>

    </div>
    
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>   
    <script src="/dreamGardenCinema-boot/src/main/resources/static/js/myPage/my-page-inquiry.js"></script>
</body>

</html>