<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/ticketing/Ticketing4.css}">
</head>
<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <div class="main">
        <div class="ticketingBox">
            <ul class="ticketingNav">
                <!-- 클릭하면 페이지에 클릭했던 정보가 표시되어야 함 -->
                <li class="pass"><a th:href="@{/ticketing/date}">01<br>상영시간</a></li>
                <li class="pass"><a th:href="@{/ticketing/seat}">02<br>인원/좌석</a></li>
                <li class="pass"><a th:href="@{/ticketing/pay}">03<br>결제</a></li>
                <li class="active"><a th:href="@{/ticketing/complete}">04<br>결제완료</a></li>
            </ul>
            <form action="" method="POST">
                <div class="choiceHeader">예매완료</div>
                <div class="ticketBox">
                    <div>예매가 완료 되었습니다</div>
                    <div class="ticket_info">
                        <div class="poster">
                            <img th:src="@{/images/common/main/포스터/범죄도시.jpg}" alt="">
                        </div>
                        <div class="content">
                            <div>
                                <span>예매정보</span>
                                <span>0000-0000-0000</span>
                            </div>
                            <div>
                                <span>영화</span>
                                <span>범죄도시3</span>
                            </div>
                            <div>
                                <span>일시</span>
                                <span>2023-06-09</span>
                            </div>
                            <div>
                                <span>인원</span>
                                <span>2명</span>
                            </div>
                            <div>
                                <span>좌석</span>
                                <span>D10, D11</span>
                            </div>
                            <div>
                                <span>결제금액</span>
                                <span>18,000원</span>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="">예매정보 출력</a>
                        <a href="">예매확인/취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <th:block th:replace="~{common/footer}"></th:block>

    <h1 th:text="${ticket}"></h1>
    <script th:src="@{/js/ticketing/Ticketing4.js}"></script>
</body>
</html>