<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/ticketing/Ticketing3.css}">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <div class="main">
        <div class="ticketingBox">
            <ul class="ticketingNav">
                <!-- 클릭하면 페이지에 클릭했던 정보가 표시되어야 함 -->
                <li class="pass"><a th:href="@{/ticketing/date}">01<br>상영시간</a></li>
                <li class="pass"><a th:href="@{/ticketing/seat}">02<br>인원/좌석</a></li>
                <li class="active"><a th:href="@{/ticketing/pay}">03<br>결제</a></li>
                <li><a th:href="@{/ticketing/complete}">04<br>결제완료</a></li>
            </ul>
            <form th:action="@{/ticketing/complete}" method="POST">
                <div class="choiceHeader">예매내역</div>
                <div class="ticketing_info">
                    <div>
                        <div class="poster">
                            <img th:src="@{/images/common/main/포스터/범죄도시.jpg}" alt="">
                        </div>
                        <div class="title">
                            <img th:src="@{/images/common/main/15세.png}" alt="">
                            <span>범죄도시3</span>
                        </div>
                        <div class="date">
                            <span>23.06.01(목)</span>
                            <span>15:30~17:30</span>
                        </div>
                        <div class="seat">
                            <span><span>1관</span> 인원<span>2</span></span>
                            <span>D10, D11</span>
                        </div>
                        <select name="coupon" id="coupon">
                            <option value="">쿠폰 적용하기</option>
                        </select>
                    </div>
                </div>
                <div class="price">
                    <div>결제금액</div>
                    <div>총 <span>28,000</span>원</div>
                </div>
                <button type="button" onclick="requestPay()">
                    <div class="liquidate">
                        <img th:src="@{/images/ticketing/카카오페이1.png}" alt="">
                        <span>결제하기</span>
                    </div>
                </button>
            </form>
        </div>
    </div>

    <th:block th:replace="~{common/footer}"></th:block>

    <h1 th:text="${ticket}"></h1>
    <script th:src="@{/js/ticketing/Ticketing3.js}"></script>
    <script th:src="@{/js/ticketing/Payment.js}"></script>
</body>
</html>