* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    
}

/* 공지사항 전체 영역 */
.customer-service-box {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notice-title {
    font-size: 2rem;
    font-weight: bolder;

    margin-top: 15px;
    margin-bottom: 12px;
}

.service-list{
    display: flex;
    margin: 30px 0 30px 0;
    
}

/* 공지사항 메뉴 리스트 (FAQ, 공지사항,1:1문의 */
.service-list-choose{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 70px;
    padding-bottom: 15px;
}

.service-list-choose>li>a:hover{
    border-top: 2px solid #0F0954;
    border-bottom: 2px solid #0F0954;
    
    font-weight: bold;
    
}



.service-list-choose:nth-child(1){
    border-bottom: 2px solid #ccc;
}
.service-list-choose:nth-child(2){
    border-bottom: 2px solid #ccc;

}
.service-list-choose:nth-child(3){
    border-bottom: 2px solid #ccc;

}


.service-list-choose>li:nth-child(1){
    border-top: 2px solid #0F0954;
    border-bottom: 2px solid #0F0954;

    
    font-weight: bold;
}


.service-empty-line{
    width: 200px;
    height: 0px;
    border-bottom: 3px solid #ccc;
}

/* 검색창 영역 */
/* 검색영역 전체를 감싸는 태그 */
.service-search-area{
    display: flex;
    margin-bottom: 100px;

    width: 65vw;
    height: 7vh;
    background-color: #0F0954;
    justify-content: space-around;
    align-items: center;
    
}

/* 검색영역 form태그 */
.sevice-search-smt{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0F0954;

    margin-top: 150px;
}

/* FAQ 카테고리 영역 */
.FAQ-category-box{
    width: 100%;
    background-color: #0F0954;
    display: flex;
    justify-content: space-evenly;

    margin-top: 30px;
}

/* 상영관 아이콘 */
.FAQ-cinemas>a>img{
    width: 100px;
    height: 100px;
}
/* 상영관 p태그 */
.FAQ-cinemas p{
    text-align: center;
    margin-top: 10px;
    color: white;
}


/* 회원 아이콘 */
.FAQ-member>a>img{
    width: 100px;
    height: 100px;
}

/* 회원 p태그 */
.FAQ-member p{
    text-align: center;
    margin-top: 10px;
    color: white;
}


/* 멤버십 아이콘 */
.FAQ-membership>a>img{
    width: 100px;
    height: 100px;
}

/* 멤버십 p태그 */
.FAQ-membership p{
    text-align: center;
    margin-top: 10px;
    color: white;
}

/* 검색 영역 전체를 감싸는 div */
.FAQ-search-box{
    display: flex;
    justify-content: center;

    margin: 20px 0 30px 0;
}


/* 검색 영역 */
#search-query{
    width: 30vw;
    height: 40px;

    border-radius: 3px;
    border: none;

    padding-left: 20px;

    font-size: 15px;
    margin: 20px 30px 0 0;
}



/* 검색 버튼 */
.service-search-btn{
    background-color: #A8A7DE;
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    cursor: pointer;
    
    color: white;
    
    margin-top: 20px;
}

.FAQ-list-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.FAQ-title{
    width: 70vw;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    text-align: center;
}

.FAQ-inquiry-content{
    width: 70vw;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    text-align: center;

}



