* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

/* 공지사항 전체 영역 */
.customer-service-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.notice-title {
    font-size: 2rem;
    font-weight: bolder;

    margin-top: 15px;
    margin-bottom: 12px;
}

.service-list {
    display: flex;
    margin: 30px 0 30px 0;

}

/* 공지사항 메뉴 리스트 (FAQ, 공지사항,1:1문의 */
.service-list-choose {
    width: 70vw;
    margin-bottom: 70px;
    margin-top: 70px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
}

/* FAQ 선택시, 밑줄 */

.service-list-choose>li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.service-list-choose>:not(li:nth-child(2)):hover {
    font-weight: bold;
    border-bottom: 3px solid #0F0954;
}


.service-list-choose>li:nth-child(2) {
    font-weight: bold;
    border-bottom: 3px solid #0F0954;
}

.service-list-choose>:not(li:nth-child(2)) {
    border-bottom: 2px solid #ccc;

}

.service-empty-line {
    width: 200px;
    height: 0px;
    border-bottom: 3px solid #ccc;
}

/* 공지사항 세부내용 전제 박스 */
.notice-contents-detail-box {
    width: 70vw;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;

    margin-bottom: 20px;
}

/* 공지사항 세부 내용 제목영역 */
.notice-list-title {
    width: 60vw;
    background-color: #0f0954;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    color: white;
}

/* 공지사항 세부 내용 등록일 영역 */
.notice-list-date {
    width: 60vw;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/* 공지사항 세부 내용 content */
.notice-list-content {
    width: 60vw;
    padding: 5px 0 15px 0;
    border-bottom: 2px solid #ccc;
}


.notice-list-content>p{
    font-size: 15px;
    margin-left: 10px;
    font-size: 14px;
    width: 100%; height: 100%; 
    overflow: auto;
}

/* 공지사항 목록 버튼 */
#noticeListBtn{
    background-color: #F0BA58;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #bd8e15;
    margin-top: 5dvw;
}

#noticeListBtn:hover{
    background-color: #f5a23f;
    color: white;
    font-weight: bold;
}


