<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace를 Mapper 인터페이스로 지정 -->
<mapper namespace="edu.kh.dgc.customerservice.model.dao.CustomerServiceMapper">

	<resultMap type="FAQ" id="faq_rm">

		<id property="FAQNo" column="FAQ_NO" />
		<result property="FAQTitle" column="FAQ_TITLE" />
		<result property="FAQContent" column="FAQ_CONTENT" />
		<result property="FAQDeleteFl" column="FAQ_DELETE_FL" />
		<result property="FAQCategory" column="FAQ_CATEGORY" />


		<result property="categoryTitle" column="CATEGORY_TITLE" />

	</resultMap>


	<!-- FAQ 전체목록 조회 -->
	<select id="main" resultType="map">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
	</select>

	<!-- FAQ(상영관 이용 관련) 목록 조회 -->
	<select id="theaterList" resultType="map">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
		AND FAQ_CATEGORY = 'P'
	</select>


</mapper>












