<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace를 Mapper 인터페이스로 지정 -->
<mapper namespace="edu.kh.dgc.customerservice.model.dao.CustomerServiceMapper">


	<!-- FAQ -->
	<resultMap type="FAQ" id="faq_rm">

		<id property="FAQNo" column="FAQ_NO" />
		<result property="FAQTitle" column="FAQ_TITLE" />
		<result property="FAQContent" column="FAQ_CONTENT" />
		<result property="FAQDeleteFl" column="FAQ_DELETE_FL" />
		<result property="FAQCategory" column="FAQ_CATEGORY" />

		<result property="categoryTitle" column="CATEGORY_TITLE" />

	</resultMap>

	<!--공지사항-->
	<resultMap type="Notice" id="notice_rm">

		<id property="noticeNo" column="NOTICE_NO" />

		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeContent" column="NOTICE_CONTENT" />
		<result property="enrollDate" column="NOTICE_ENROLL_DATE" />
		<result property="noticeViewpoint" column="NOTICE_VIEWPOINT" />
		<result property="noticeFL" column="NOTICE_FL" />

	</resultMap>


	<!-- FAQ 전체목록 조회 -->
	<select id="main" resultMap="faq_rm">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
	</select>

	<!-- FAQ(상영관 이용 관련) 목록 조회 -->
	<select id="theaterList" resultMap="faq_rm">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
		AND FAQ_CATEGORY = 'P'
	</select>


	<!-- FAQ(회원 이용 관련) 목록 조회 -->
	<select id="customList" resultMap="faq_rm">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
		AND FAQ_CATEGORY = 'M'
	</select>

	<!-- FAQ(회원 이용 관련) 목록 조회 -->
	<select id="membList" resultMap="faq_rm">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
		AND FAQ_CATEGORY = 'U'
	</select>


	<!-- 검색어와 일치하는 FAQ 목록 조회 -->
	<select id="searchFAQList" resultMap="faq_rm">
		SELECT *
		FROM FAQ
		LEFT JOIN "FAQ_CATEGORY" USING (FAQ_CATEGORY)
		WHERE FAQ_DELETE_FL = 'N'
		AND FAQ_TITLE LIKE '%${searchQuery}%'
	</select>


	<!-- 공지사항 전체 목록 조회 -->
	<select id="noticeList" resultMap="notice_rm">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, 
			   TO_CHAR(NOTICE_ENROLL_DATE, 'yyyy-mm-dd')NOTICE_ENROLL_DATE, NOTICE_FL
		FROM "NOTICE"
		WHERE NOTICE_FL = 'N'
	</select>
	

</mapper>












