<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.dgc.main.model.dao.MainMapper">
	
	<select id="selectMovieList" resultType="map">
		SELECT ROWNUM, MOVIE_NO, MOVIE_TITLE, POSTER, RATING, RELEASE_DATE, RUNNING_TIME, SYNOPSIS, NVL(RATIO_TO_REPORT(TICKET_COUNT) OVER(),0) AS RATIO, NVL(MOVIE_IMG_PATH, 'null') MAIN_POSTER
		FROM(SELECT P.MOVIE_NO, MOVIE_TITLE, POSTER, RATING, RELEASE_DATE, RUNNING_TIME, SYNOPSIS, MOVIE_IMG_PATH, 
				(SELECT COUNT(TICKET_NO)
				FROM TICKETING_INFO C
				WHERE P.MOVIE_NO = C.MOVIE_NO) TICKET_COUNT
			FROM MOVIE P
			LEFT JOIN (SELECT * FROM MOVIE_IMG WHERE MOVIE_IMG_ROLE='메인슬라이드') I
				 ON(P.MOVIE_NO = I.MOVIE_NO)
			WHERE SCREENING = 'C'
			ORDER BY TICKET_COUNT DESC, RELEASE_DATE)
	</select>
	
	<select id="selectNoticeList" resultType="map">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, 
			<![CDATA[
				CASE  
					WHEN SYSDATE - NOTICE_ENROLL_DATE < 1/24/60
					THEN FLOOR( (SYSDATE - NOTICE_ENROLL_DATE) * 24 * 60 * 60 ) || '초 전'
					WHEN SYSDATE - NOTICE_ENROLL_DATE < 1/24
					THEN FLOOR( (SYSDATE - NOTICE_ENROLL_DATE) * 24 * 60) || '분 전'
					WHEN SYSDATE - NOTICE_ENROLL_DATE < 1
					THEN FLOOR( (SYSDATE - NOTICE_ENROLL_DATE) * 24) || '시간 전'
					ELSE TO_CHAR(NOTICE_ENROLL_DATE, 'YYYY-MM-DD')
				END NOTICE_ENROLL_DATE, 
			]]>
			NOTICE_VIEWPOINT
		FROM (SELECT * FROM NOTICE ORDER BY NOTICE_ENROLL_DATE DESC)
		<![CDATA[
			WHERE ROWNUM <= 5
		]]>
	</select>
</mapper>