<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.dgc.movie.model.dao.MovieMapper">
	
	<resultMap type="Movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="poster" column="POSTER"/>
		<result property="synopsis" column="SYNOPSIS"/>
		<result property="runningTime" column="RUNNING_TIME"/>
		<result property="rating" column="RATING"/>
		<result property="releaseDate" column="RELEASE_DATE"/>
		<result property="producer" column="PRODUCER"/>
		<result property="moviePrice" column="MOVIE_PRICE"/>		
		<result property="mainPoster" column="MAIN_POSEER"/>		
		<result property="genre" column="GENRE"/>		
		<result property="screening" column="SCREENING"/>		
	</resultMap>
	
	<select id="selectMovieList" resultMap="movie_rm">
		SELECT * 
		FROM MOVIE
	</select>
	
	<select id="selectMovieListCurrent" resultMap="movie_rm">
		SELECT *
		FROM MOVIE
		WHERE SCREENING = 'C'
	</select>
	
	<select id="selectMovieListPromise" resultMap="movie_rm">
		SELECT *
		FROM MOVIE
		WHERE SCREENING = 'P'
	</select>
	
	<!-- 영화 슬라이드 이미지 리스트 뽑아오기 --> 
	<select id="selectMovieMainSlideImgList" resultType="map">
		SELECT *
		FROM MOVIE_IMG
		WHERE MOVIE_IMG_ROLE='영화슬라이드'
	</select>
	
	<!-- -->
	<select id="selectAdvertisePoster" resultType="map">
		SELECT *
		FROM(
			SELECT *
			FROM MOVIE_IMG
			WHERE MOVIE_IMG_ROLE = '광고'
			ORDER BY DBMS_RANDOM.RANDOM
			)
		WHERE rownum = 1
	</select>
	
</mapper>