<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.dgc.movie.model.dao.MovieMapper">
	
	<resultMap type="Movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="poster" column="POSTER"/>
		<result property="synopsis" column="SYNOPSIS"/>
		<result property="runningTime" column="RUNNING_TIME"/>
		<result property="rating" column="RATING"/>
		<result property="releaseDate" column="RELEASE_DATE"/>
		<result property="producer" column="PRODUCER"/>
		<result property="moviePrice" column="MOVIE_PRICE"/>		
	</resultMap>
	
	<select id="selectMovieList" resultMap="movie_rm">
		SELECT * 
		FROM MOVIE
	</select>
</mapper>