<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.dgc.admin.model.dao.AdminMovieManageMapper">
	
	<resultMap type="Movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="poster" column="POSTER"/>
		<result property="synopsis" column="SYNOPSIS"/>
		<result property="runningTime" column="RUNNING_TIME"/>
		<result property="rating" column="RATING"/>
		<result property="releaseDate" column="RELEASE_DATE"/>
		<result property="producer" column="PRODUCER"/>
		<result property="moviePrice" column="MOVIE_PRICE"/>		
		<result property="genre" column="GENRE"/>		
		<result property="screening" column="SCREENING"/>
		<result property="rank" column="RANK"/>
		<result property="ratio" column="RATIO"/>
		<result property="score" column="SCORE"/>
		<result property="ticketCount" column="TICKET_COUNT"/>
	</resultMap>
	
	<select id="selectMovieListCurrent" resultMap="movie_rm">
		SELECT *
		FROM MOVIE
		WHERE SCREENING = 'C' 
	</select>
	
	<select id="selectList" resultMap="movie_rm">
		SELECT *
		FROM MOVIE
		
		<choose>
			
			<when test="screenType == 'wait'">
				WHERE SCREENING = 'W'
			</when>
			
			<when test="screenType == 'promise'">
				WHERE SCREENING = 'P'
			</when>
			
			<when test="screenType == 'current'">
				WHERE SCREENING = 'C'
			</when>
			
			<when test="screenType == 'down'">
				WHERE SCREENING = 'D'
			</when>
			
			<when test="screenType == 'highlight'">
			</when>
			
			<when test="screenType == 'all'">
								
			</when>

		</choose>
	</select>
	
	
</mapper>

