<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.dgc.ticketing.model.dao.TicketingMapper">
	
	<select id="selectTimeList" resultType="map">
		SELECT MOVIE_NO, TO_CHAR(MOVIE_TIME, 'HH24:MI') MOVIE_TIME, MOVIE_THEATER, TO_CHAR(MOVIE_TIME, 'YYYYMMDD HH24:MI') CHECK_TIME
		FROM MOVIE_SCHEDULE
		WHERE TO_CHAR(MOVIE_TIME, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')
		<![CDATA[
		AND MOVIE_TIME > SYSDATE 
		]]>
		AND MOVIE_NO = ${movieNo}
		ORDER BY MOVIE_TIME, MOVIE_THEATER
	</select>
	
	<select id="selectSaveTimeList" resultType="map">
		SELECT MOVIE_NO, TO_CHAR(MOVIE_TIME, 'HH24:MI') MOVIE_TIME, MOVIE_THEATER, TO_CHAR(MOVIE_TIME, 'YYYYMMDD HH24:MI') CHECK_TIME
		FROM MOVIE_SCHEDULE
		WHERE TO_CHAR(MOVIE_TIME, 'YYYYMMDD') = ${movieTime}
		<![CDATA[
		AND MOVIE_TIME > SYSDATE 
		]]>
		AND MOVIE_NO = ${saveMovieNo}
		ORDER BY MOVIE_TIME, MOVIE_THEATER
	</select>
	
	<select id="movieTime" resultType="map">
		SELECT TO_CHAR(MOVIE_TIME, 'HH24:MI') MOVIE_TIME, MOVIE_THEATER, TO_CHAR(MOVIE_TIME, 'YYYYMMDD HH24:MI') CHECK_TIME
		FROM MOVIE_SCHEDULE
		<![CDATA[
		WHERE MOVIE_TIME > SYSDATE 
		]]>
		AND MOVIE_NO = ${movieNo} AND TO_CHAR(MOVIE_TIME, 'YYYYMMDD') = ${date}
		ORDER BY MOVIE_TIME, MOVIE_THEATER
	</select>

	<select id="selectMovieList" resultType="map">
		SELECT ROWNUM, MOVIE_NO, MOVIE_TITLE, POSTER, RATING, RELEASE_DATE, RUNNING_TIME, SYNOPSIS, NVL(RATIO_TO_REPORT(TICKET_COUNT) OVER(),0) AS RATIO, NVL(MOVIE_IMG_PATH, 'null') MAIN_POSTER
		FROM(SELECT P.MOVIE_NO, MOVIE_TITLE, POSTER, RATING, RELEASE_DATE, RUNNING_TIME, SYNOPSIS, MOVIE_IMG_PATH, 
				(SELECT COUNT(TICKET_NO)
				FROM TICKETING_INFO C
				WHERE P.MOVIE_NO = C.MOVIE_NO) TICKET_COUNT
			FROM MOVIE P
			LEFT JOIN (SELECT * FROM MOVIE_IMG WHERE MOVIE_IMG_ROLE='메인슬라이드') I
				 ON(P.MOVIE_NO = I.MOVIE_NO)
			WHERE SCREENING = 'C'
			ORDER BY TICKET_COUNT DESC, RELEASE_DATE)
	</select>
</mapper>