<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.dgc.ticketing.model.dao.TicketingMapper">
	
	<select id="mainMovieTime" resultType="map">
		SELECT TO_CHAR(MOVIE_TIME, 'HH24:MI') MOVIE_TIME, MOVIE_THEATER
		FROM MOVIE_SCHEDULE
		WHERE MOVIE_TIME = SYSDATE 
		AND MOVIE_NO = ${movieNo}
		ORDER BY MOVIE_TIME
	</select>
	
	<select id="movieTime" resultType="map">
		SELECT TO_CHAR(MOVIE_TIME, 'HH24:MI') MOVIE_TIME, MOVIE_THEATER
		FROM MOVIE_SCHEDULE
		<![CDATA[
		WHERE MOVIE_TIME > SYSDATE 
		]]>
		AND MOVIE_NO = ${movieNo} AND TO_CHAR(MOVIE_TIME, 'YYYYMMDD') = ${date}
		ORDER BY MOVIE_TIME
	</select>
</mapper>