<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGCinema</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="login-box-modal">
        <form th:action="@{/user/login}" method="post">
            <p class="login-text">로그인</p>

            <span class="first-Visit-text">처음 방문하셧나요?</span>

            <a th:href="@{/user/signUp}" class="sign-up-text">계정 만들기</a>

            <input type="text" placeholder="ID" id="userId" name="userId" required>

            <input type="password" placeholder="PW" id="userPw" name="userPw">

            <div class="login-check">
                <label>
                    <input type="checkbox" name="saveId" id="saveId">
                    <label for="saveId" color><span></span>아이디 저장</label>
                </label>
            </div>

            <button class="login-btn">로그인</button>
            
            <a th:href="@{/user/accountFind}" class="find-user-text">ID/PW 찾기</a>
        </form>
    </div>

    <script th:src="@{/js/user/login.js}"></script>
</body>
</html>