body {
    margin: 0;
    user-select: none;
}

/* 윗단 탑 슬라이드 */
.movie--Top__banner {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
    --swiper-navigation-color: gray; 
    --swiper-pagination-color: #fff;
}



/* 가운뎃 단 영화 리스트들 */

/* movie-type -> 상영작, 예정작 */



.movie-type{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.movie-type .active{
    text-decoration: underline;
    text-underline-offset : 10px;
}

.movie-type .non-active{
    opacity: 0.3;
}

.movieList--nav button{
    background-color: white;
}

.nav-menu div{
    font-size: 13.3px;
}



.sort-active{
    font-weight: bold;
}

.sort-non-active{
    opacity: 0.5;
}


/* 영화리스트 */


/* movie List 전체에 대한 박스 */
.movie--mid__List {
    margin: auto;
    margin-top: 20px;
    width: 980px;
}

.movieList--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.nav--more{
    display: flex;
    align-items: center;
}




.movieList--items {
    margin: auto;
    margin-top: 10px;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}


.movieItem {
    height: 310px;
    margin: auto;
    text-align: center;
}

.movieItem .movie-poster-container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 250px;
}



.movieItem .movie-poster{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.movieItem .movie-rating{
    position: absolute;
    top: 7px;
    right: 7px;
}

.movieItem .movie-title{
    margin: auto;
    margin-top: 10px;
    width: 156px;
    display: block;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie-poster-container em{
    position: absolute;
    color : white;
    font-size: 24px;
    font-weight: bold;
    bottom: 0px;
    left: 6px;
    text-shadow: 1px 1px 1px gray;
}

.movie-data{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star img {
    width: 10px;
    height: 10px;
}


.movie-action{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-action:hover{
    opacity: 1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.movie-action a{
    width: 80%;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(2);
}






.movieList--more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieList--more button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.movieList--more button *{
    margin: 4px;
}

.movieList--more button .more-icon{
    font-size: 18px;
}

/* 아랫단 봇 배너 */
.movie--bot__banner {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}