<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 - dream garden cinema</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/movie/movieMain.css}">
</head>
<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <section class="movie--Top__banner">
        <img src="https://dummyimage.com/1920x420/000/fff&text=slide">
    </section>

    <section class="movie--mid__List">
        <div class="movieList--nav">
            <div>
            
            </div>

            <div>

            </div>
        </div>

        <div class="movieList--items">

            <div class="movieItem">

            </div>

            <div class="movieItem">

            </div>

            <div class="movieItem">

            </div>

            <div class="movieItem">

            </div>
            <div class="movieItem">

            </div>
            <div class="movieItem">

            </div>


        </div>

        <div class="movieList--more">
            
        </div>

    </section>

    <section class="movie--bot__banner">
        <img src="https://dummyimage.com/980x180/000/fff&text=poster">
    </section>

    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>