<link rel="stylesheet" th:href="@{/css/movie/comment-report.css}">

<div id="my-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <form class="modal-body">
            <p>This is my modal</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa
                velit
                repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo
                commodi ab.</p>
        </form>
    </div>
</div>

<script th:src="@{/js/movie/movie-detail.js}"></script>