<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamGardenMovieTheater</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
</head>

<body>

    <th:block th:replace="~{common/header-white}"></th:block>




    <th:block th:replace="~{common/footer}"></th:block>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script th:src="@{/js/common/main.js}"></script>
</body>

</html>