<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamGardenMovieTheater</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/movie/movie-detail.css}">

    
</head>

<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <section class="movie--Top__banner">
        <div class="swiper movie--main--slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://dummyimage.com/800x560/6e2424/ebebeb&text=silder"></div>
                <div class="swiper-slide"><img src="https://dummyimage.com/800x560/6e2424/ebebeb&text=silder"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <div class="info-wrapper">
        <section class="movie--detail__basic" th:object="${movie}">

            <div class="detail--movie-poster"><img th:src="@{|*{poster}|}"></div>
            
            <div class="detail--movie-info">

                <div class="movie--title font0">
                    <span><img th:src="@{|*{rating}|}"></span>
                    <span th:text="*{movieTitle}">영화 제목</span>
                </div>

                <div class="movie--audience-info font2">
                    <span th:text="|관람객 평점|">관람객 평점</span>
                    <span th:text="|예매율|">예매율</span>
                    <span th:text="|누적관객수|">누적 관객수</span>
                </div>

                <hr>

                <div class="movie--simple-info">

                    <div class="movie-info">

                        <ul>

                            <li class="info-line1">
                                장르 <span th:text="*{genre}">장르</span> 
                                |
                                <span th:text="|*{releaseDate} 개봉|">개봉일</span>
                                |
                                <span th:text="|*{runningTime}분|">상영길이</span>
                            </li>

                            <li>
                                감독
                            </li>

                            <li>
                                출연
                            </li>

                        </ul>

                    </div>

                    <div class="movie-ticket font2">

                        <a class="ticket-active" th:if="*{screening == 'C'}" href="#">예매하기</a>

                        <div class="ticket-non-active" th:unless="*{screening == 'C'}">상영예정</div>

                    </div>

                </div>

            </div>

            
            
        </section>
        
        <section class="outer-info">

            <div class="info-type-select">
                <button class="info-type-info select-active" id="infoBtn">영화정보</button>

                <button class="info-type-comment" id="commentBtn">평점 및 관람평</button>
                
                <div class="selecter-bar">
                    <div class="bar-type selected-bar" id="infoBar"></div>
                    <div class="bar-type" id="commentBar"></div>
                </div>
            </div>
            


            <!-- 영화 정보 -->
            <div class="outer-info__type-info" th:object="${movie}">

                <strong style="font-size: 20px;">시놉시스</strong>

                <div th:utext="*{synopsis}" style="margin-top: 10px;">시놉시스 내용</div>

                <strong style="font-size: 20px;">포스터 · 스틸컷</strong>

                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                        </div>
                    </div>
                </div>

                <strong style="font-size: 20px;">감독 및 배우</strong>

                <div>
                    
                </div>

            </div>


            <!-- comment(평점 및 관람평) -->
            <div class="outer-info__type-comment">

            </div>



        </section>

        <section class="movie--bot__banner">
            <img th:src="${advertisePoster.MOVIE_IMG_PATH}">
        </section>



    </div>


    <th:block th:replace="~{common/footer}"></th:block>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- swiper js 초기화 -->
    <script>
        var swiper = new Swiper(".movie--main--slider", {
            centeredSlides: true,
            loop: true,
            autoplay: {
                delay: 7000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper2 = new Swiper(".mySwiper", {
            loop: true,
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesProgress: true,
        });

        var swiper3 = new Swiper(".mySwiper2", {
            loop: true,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper,
            },
    });
    </script>

    <script th:src="@{/js/movie/movie-detail.js}"></script>


</body>

</html>