<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 - dream garden cinema</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/movie/movie.css}">

    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <!-- swiper css custom -->
    <link rel="stylesheet" th:href="@{/css/movie/silder.css}">

    <!-- 구글 아이콘 > 아래방향 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>

    <th:block th:replace="~{common/header-white}"></th:block>

    <section class="movie--Top__banner">
        <div class="swiper movie--main--slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="slideImg : ${movieMainSlideImgList}"><img th:src="${slideImg.MOVIE_IMG_PATH}"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>



    <section class="movie--mid__List promise">

        <div class="movieList--nav">

            <ul class="font1 movie-type">

                <li><button id="typeCurrent" class="font1 non-active" th:href="@{/movie/current}">현재 상영작</button></li>

                <li><button id="typePromise" class="font1 active" th:href="@{/movie/promise}">상영 예정작</button></li>

            </ul>

            <div class="font3 nav-menu">
                <button>개봉일순</button>
                |
                <button>예매순</button>
                |
                <button>보고싶어요순</button>
            </div>

        </div>

        <div class="movieList--items" >

            <div class="movieItem" th:each="movie : ${MovieListP}">

                <div class="movie-poster-container">
                    <img class="movie-poster" th:src="${movie.poster}">
                    <img class="movie-rating" th:src="${movie.rating}">
                </div>

                <div class="movie-title font5" th:text="${movie.movieTitle}">영화 제목</div>

            </div>

        </div>

        <div class="movieList--more">
            <button class="font4" id="listMore">
                
                펼쳐보기 
                
                <span class="material-symbols-outlined more-icon">
                expand_more
                </span> 

            </button>
        </div>

    </section>

    <section class="movie--bot__banner">
        <img th:src="${advertisePoster.MOVIE_IMG_PATH}">
    </section>

    <th:block th:replace="~{common/footer}"></th:block>

    <!-- swiper.js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- swiper.js 초기화 -->
    <script>
        var swiper = new Swiper(".movie--main--slider", {
            spaceBetween: 30,
            centeredSlides: true,
            loop: true,
            autoplay: {
                delay: 7000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

    <script th:src="@{/js/movie/movie.js}"></script>

</body>
</html>