*{
    margin:0;
    padding: 0;
}

body{
    background-image: url('/images/ticketing/예매 배경.png');
    background-size : 520px;
    background-color: rgb(0 0 0 / 20%);

}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticketingBox{
    width: 1280px;
    height: 870px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    
}

.ticketingNav{
    width: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-collapse : collapse;
    border-right: 1px solid #c8c8c8;

    
}
.ticketingNav li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-bottom: 1px solid #c8c8c8;
}
.ticketingNav li.pass{
    background-color: #3B3B3B;
    color : white;
}
.ticketingNav li.active{
    background-color: #dda03c;
    color : white;
    font-weight: bold;
}
.ticketingNav li a{
    color: inherit;
    text-decoration: none;
}

.ticketingNav li:first-child{
    height: 25%;
    border-top-left-radius: 15px;
}
.ticketingNav li:nth-child(2){
    height: 25%;
}
.ticketingNav li:nth-child(3){
    height: 25%;
}
.ticketingNav li:last-child{
    height: 25%;
    border-bottom-left-radius: 15px;
    border-bottom: none;
}
.ticketingBox>form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.choiceHeader{
    width: 100%;
    height: 50px;
    background-color: #000000;
    color : #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-top-right-radius: 15px;
}
.ticketBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/ticketing/예매티켓.png');
    background-repeat: no-repeat;
    background-size: 103% 125%;
    background-position: left;
}

.ticketBox>div:first-child{
    font-size: 40px;
    font-weight: bold;
}
.ticket_info{
    display: flex;
    width: 900px;
    height: 500px;
}
.ticket_info img{
    height: 280px;
    width: 196px;
}
.poster{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content div:not(:last-child){
    margin-bottom: 25px;
}
.content div *{
    font-size: 20px;
}
.content>div>span:first-child{
    display: inline-block;
    justify-content: space-between;
    width: 100px;
    letter-spacing: auto;
}

.btn{
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn a{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dda03c;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}